@charset "UTF-8";


.wp-block-classcode2-iai-links {
	border:1px solid #999999;
	padding: 10px;
	margin-bottom: 60px;
	display: flex;
}

.wp-block-classcode2-iai-links .column:first-child {
	flex: 0 0 80%;
}

.wp-block-classcode2-iai-links .column:last-child {
	flex: 0 0 20%;
}

.wp-block-classcode2-iai-links label {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
}

.editor-styles-wrapper p {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
