@charset "UTF-8";

html {
    background-color:#FCFAF4;
}

.iai-rubrique {
    text-transform: uppercase;
}

.iai-report-conference {
    font-weight: 900;
    font-family: 'Rambla', sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
}

.iai-report-conference,
.iai-content ul.iai-report-conference-fiche {
    margin-bottom: 50px;
    margin-left:0;
}

.iai-video-report-conference {
    width: 60%;
    margin: 20px 0 40px 0;
}

.iai-content ul.iai-report-conference-fiche  li a {
    padding-top: 6px;
}

.iai-header {
    box-sizing: border-box;
    position: fixed;
    top:54px;
    left:0;
    width: 100%;
    max-width: 1280px;
    margin: 0 calc( 50% - 640px );
    background: #5937B9;
    padding:20px 56px 19px 99px;
    text-align: right;
    z-index: 2;
}

.iai-header.with-userbar {
    top:86px;
}

.sticky .iai-header {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.3);
}


.iai-header ul {
    margin: 0;
    padding: 0;
}

.iai-footer {
    box-sizing: border-box;
    background: #4462CE;
    border-top: solid 16px #F95230;
    padding:25px 0 25px 0;
    margin-bottom: -20px;
}

.iai-footer ul {
    margin: 0;
    padding: 0;
}

.iai-nav-bar {
    position: fixed;
    top:194px;
    left:0;
    z-index: 20;
    margin: 0 calc( 50% - 640px );
}

.iai-nav-bar.with-userbar {
    top:236px;
}

.iai-nav-bar .iai-nav-modules {
    display: none;
}

.iai-nav-close {
    display: none;
}

.iai-nav ul {
    margin: 0 0 0 20px;
    padding: 0;
}

.iai-header .iai-menu-burger,
.iai-nav .iai-nav-burger {
    display: none;
    background: url(../images/iai/burger-nav.svg) center / 53px 54px no-repeat;
    width: 53px;
    height: 54px;
    position: absolute;
    top:16px;
    left:13px;
}

.iai-header .iai-menu-burger {
    background: url(../images/iai/burger-nav.svg) center / 53px 54px no-repeat;
}

.iai-nav .iai-nav-burger {
    background: url(../images/iai/nav-site_violet.svg) center / 53px 54px no-repeat;
}


.iai-nav .iai-nav-close {
    display: none;
    background: url(../images/iai/croix-orange.svg) center / 25px 25px no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top:5px;
    right:5px;
}

.iai-content ul {
    margin:0;
    padding:0;
}

.iai-content ul,
.iai-content a {
    box-sizing: border-box;
}

.iai-content img {
    padding: 0;
}


.iai-logo {
    display: block;
    box-sizing: border-box;
    background: url(../images/iai/logo.svg) no-repeat;
}

.iai-tuto-icon {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:solid 3px #00A387;
    overflow: hidden;
}

.iai-tuto-icon img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.iai-header .iai-logo {
    width: 232px;
    height: 80px;
    background-size:cover;
    float: left;
}

.iai-header .iai-tuto-links {
    display: inline-block;
}

li.iai-tuto-link {
    display: inline-block;
    margin-right: 40px;
}

li.iai-tuto-link:last-child {
    margin-right: 0;
}

li.iai-tuto-link a {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.iai-tuto-link a.selected,
.iai-tuto-link a:hover {
    color: #F95230;
}

.iai-tuto-link  a.selected .iai-tuto-icon,
.iai-tuto-link  a:hover .iai-tuto-icon {
    border:solid 3px #F95230;
}

li.iai-tuto-link .iai-tuto-link-title {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
}

li.iai-tuto-link .iai-tuto-link-title > span {
    display: block;
}

li.iai-tuto-link .iai-tuto-link-title > span:first-child {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}

li.iai-tuto-link .iai-tuto-link-title > span:last-child {
    font-size: 13px;
    line-height: 15px;
    font-weight: 900;
    text-transform: uppercase;
}

li.iai-tuto-link .iai-tuto-icon {
    display: inline-block;
    vertical-align: middle;
}

.iai-footer li.iai-tuto-link:first-child {
    float: left;
    margin-left: 10px;
}

.iai-footer li.iai-tuto-link:first-child a {
    padding-left: 99px;
    background: url(../images/iai/precedent_off.svg) left center no-repeat;
}

.iai-footer li.iai-tuto-link:first-child a:hover {
    background: url(../images/iai/precedent_on.svg) left center no-repeat;
}

.iai-footer li.iai-tuto-link:last-child {
    float: right;
    margin-right: 10px;
}

.iai-footer li.iai-tuto-link:last-child a {
    padding-right: 99px;
    background: url(../images/iai/suivant_off.svg) right center no-repeat;
}

.iai-footer li.iai-tuto-link:last-child a:hover {
    background: url(../images/iai/suivant_on.svg) right center no-repeat;
}


.iai-footer ul.iai-tuto-links::after {
    content:'';
    display: table;
    clear: both;
}

.iai-nav {
    width: 140px;
}

.iai-nav li.iai-nav-item {
    display: block;
}

.iai-nav li.iai-nav-item a {
    display: block;
    width: 140px;
    height: 40px;
    margin-bottom: -9px;
    background: url(../images/iai/nav_g_off.svg) top left / contain no-repeat;
    text-decoration: none;
}

.iai-nav li.iai-nav-item a > span {
    display: inline-block;
    color: #FEFCF3;
    font-family: 'Rambla', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin-left:10px;
    margin-top:7px;
}


.iai-nav li.iai-nav-item a:hover,
.iai-nav li.iai-nav-item.iai-nav-item-active a {
    background: url(../images/iai/nav_g_on.svg) top left / contain no-repeat;
}

.iai-content {
    margin-top: 150px;
}

.iai-content h2 {
    color: #F95230;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 47px;
    padding-left:25px;
    margin-left: 200px;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-right: 112px;
}

.iai-content.iai-content-post {
    margin-bottom: 100px;
}

.iai-content.iai-content-post h2 {
    padding-left:0;
}

.iai-content.iai-content-post p {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 20px;
    margin-right: 80px;
}

#debattre .iai-content h2 {
    margin-right: 225px;
}

.iai-content-blocks {
   /* display: flex;*/
    margin-left: 200px;
    margin-right: 112px;
}

.iai-content-blocks .iai-content-block:last-child {
    padding-right: 0;
}

#debattre .iai-content-blocks.full-width {
    margin-right: 225px;
}

.iai-content-block {
    flex:0 0 50%;
    width: 50%;
    border-left: 1px dashed #979797;
    padding: 0 25px;
    box-sizing: border-box;
}

.iai-content-blocks.full-width {
    display: block;
}

.iai-content-blocks.full-width .iai-content-block {
    flex: unset;
    width: 100%;
    border-left: none;
}

.iai-content-block-intro {
    color: #4A4A4A;
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    font-style: italic;
    line-height: 25px;
    margin: 0 0 35px 0;
}

.iai-content-block li {
    display: block;
    text-align: left;
}

.iai-content-block li a {
    display: block;
    padding: 12px 0 14px 70px;
}

.iai-content-block li.parlons-en-icon a {
    background: url(../images/iai/forum_off.svg) top left no-repeat;
}

.iai-content-block li.parlons-en-icon a:hover {
    background: url(../images/iai/forum_on.svg) top left no-repeat;
}

.iai-content-block li.fiche-pedago-icon a {
    background: url(../images/iai/fiche_off.svg) top left no-repeat;
}

.iai-content-block li.fiche-pedago-icon a:hover {
    background: url(../images/iai/fiche_on.svg) top left no-repeat;
}

.iai-content-block li {
    margin-bottom: 20px;
}

.iai-content-block li > a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.iai-content-block li > a,
.iai-content-block li > a > * {
    color: #00A387;
}

.iai-content-block li > a:hover,
.iai-content-block li > a:hover > * {
    color: #F95230;
}

.iai-content-block li > a > p:first-child {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.iai-content-block li > a > p:last-child {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin-top: 2px;
}

.iai-content-video-title {
    color: #4A4A4A;
    font-family: 'Rambla', sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 10px;
}

.iai-video-share {
    float: right;
    display: inline-block;
}

.iai-video-share {
    width: 19px;
    height: 21px;
    background: url(../images/iai/share_off.svg) top left no-repeat;
}

.iai-video-share:hover {
    background: url(../images/iai/share_on.svg) top left no-repeat;
}

.iai-video-share a {
    width: 100%;
    height: 100%;
    display: block;
}

.iai-content .iai-tuto-parent,
.iai-content .iai-video-parent,
.iai-home-contents .iai-video-parent {
    position: relative;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

.iai-content .iai-tuto-parent img {
    width:506px;
}

.iai-content a.iai-content-video-block::after,
.iai-content .iai-tuto-parent a::after,
.iai-content .iai-video-parent a:after,
.iai-home-contents .iai-video-parent a:after {
    content: '';
    position: absolute;
    bottom:28px;
    right:22px;
    background: url(../images/iai/play_video.svg) center / cover no-repeat;
    width: 80px;
    height: 80px;
    opacity: 0.36;
}

.iai-content a:hover.iai-content-video-block::after,
.iai-content .iai-tuto-parent a:hover::after,
.iai-content .iai-video-parent a:hover:after,
.iai-home-contents .iai-video-parent a:hover:after {
    opacity: 1;
}

.iai-content-blocks.iai-content-video-blocks {
    flex-wrap: wrap;
    margin-left: 225px;
    margin-right: 225px;
}

.iai-content-video-block {
    flex: 0 0 50%;
    margin-bottom: 50px;
}

.iai-content .iai-video-parent img,
.iai-content .iai-video-parent video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iai-content .iai-video-parent .video-infos {
    position: absolute;
    width: calc( 100% - 25px );
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(52,81,182,0.69);
    padding-top: 35px;
    box-sizing: border-box;
}

.iai-content .iai-video-parent .video-infos > p {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.video-infos > p.iai-video-name,
.video-infos > p.iai-video-title {
    font-weight: 800;
}

.video-infos > p.iai-video-description {
    margin-top: 10px;
}

.video-infos > p.iai-video-duration {
    margin-top: 20px;
}

.video-infos .iai-video-duration::before {
    content:'/';
}

.video-infos .iai-video-duration::after {
    content:'/';
}

.iai-content-block.iai-content-video-block {
    border-left: none;
    box-sizing: border-box;
}

.iai-content-block.iai-content-video-block ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.iai-content-block.iai-content-video-block li {
    display: inline-block;
}

.iai-content-video-blocks .iai-video-parent:nth-child(2n+1) {
    padding-right:25px;
    padding-left: 0;
}

.iai-content-video-blocks .iai-video-parent:nth-child(2n+1)::after {
    right:47px;
}

.iai-content-video-blocks .iai-video-parent:nth-child(2n) {
    padding-left:25px;
    padding-right: 0;
}

.iai-content-video-blocks .iai-video-parent:nth-child(2n) .video-infos {
    margin-left: 25px;
}

.iai-content-video-blocks .iai-content-block:nth-child(2n) {
    padding-right: 0;
}

.iai-content-video-blocks .iai-content-block:nth-child(2n+1) {
    padding-left: 0;
}


.iai-content-links {
    padding: 40px 112px 80px 225px;
    margin-bottom:80px;
    background: url(../images/iai/img_cercles_fond.svg) left top no-repeat;
    border-bottom:5px #CED5EE dotted;
}

.iai-content-links-header {
    position: relative;
    display: block;
    background-color: #4462CE;
    color: #FEFCF3;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 20px;
    padding: 20px 28px;
}

.iai-content-links-header > p > strong {
    font-weight: 600;
}

.iai-content-links-header > * {
    color: #FEFCF3;
}

.iai-content-links.iai-content-links-for-tutorial {
    background: url(../images/iai/img_cercles_fond_droit.svg) right 112px no-repeat;
    padding: 80px 112px 80px 225px;
}

.iai-content-links.iai-content-links-for-tutorial .iai-content-links-header {
    background-color: #5937B9;
}

.iai-content-links-header > p {
    margin-right: 40px;
    line-height: 22px;
}

.iai-content-links-header p::before {
    content:'• ';
    margin: 0 5px 70px;
    float: left;
}

.iai-content-links-header strong {
    font-weight: 800;
    text-transform: uppercase;
}

a.iai-content-links-header .toggle {
    position: absolute;
    right:13px;
    top: 16px;
    display: block;
    width: 34px;
    height: 35px;
    background: url(../images/iai/chevron_deplier_off.svg) center center / cover no-repeat;
}

a.iai-content-links-header:hover .toggle {
    background: url(../images/iai/chevron_deplier_on.svg) center center / cover no-repeat;
}

.iai-content-links.opened a.iai-content-links-header .toggle {
    background: url(../images/iai/chevron_replier_off.svg) center center / cover no-repeat;
}

.iai-content-links.opened a.iai-content-links-header:hover .toggle {
    background: url(../images/iai/chevron_replier_on.svg) center center / cover no-repeat;
}

.iai-content-links .iai-content-link {
    display: none;
}

.iai-content-links.opened .iai-content-link {
    display: block;
}

.iai-content-link {
    background-color: #CED5EE;
}

.iai-content-link a {
    position: relative;
    display: block;
    padding: 13px 55px 13px 65px;
    font-family: 'Rambla', sans-serif;
    text-decoration: none;
}

.iai-content-link a,
.iai-content-link a > * {
    color: #262626;
    font-size: 14px;
    line-height: 17px;
}

.iai-content-link a:hover > *,
.iai-content-link a:hover {
    color: #4462CE;
}

.iai-content-link a::after {
    position: absolute;
    top:20px;
    right:20px;
    content: '';
    display: inline-block;
    width:15px;
    height: 22px;
    background: url(../images/iai/chevron_lien_off.svg) right center / 15px 22px no-repeat;
}

.iai-content-link a:hover::after {
    background: url(../images/iai/chevron_lien_on.svg) right center / 15px 22px no-repeat;
}

.iai-content-link a > p:first-child {
    font-weight: bold;
}

.iai-content-link a.link-article {
    background: url(../images/iai/article_off.svg) top 15px left 10px no-repeat;
}

.iai-content-link a.link-article:hover {
    background: url(../images/iai/article_on.svg)  top 15px left 10px no-repeat;
}

.iai-content-link a.link-video {
    background: url(../images/iai/video_off.svg)  top 15px left 10px no-repeat;
}

.iai-content-link a.link-video:hover {
    background: url(../images/iai/video_on.svg)  top 15px left 10px no-repeat;
}

.iai-content-link a.link-audio {
    background: url(../images/iai/audio_off.svg)  top 15px left 12px no-repeat;
}

.iai-content-link a.link-audio:hover {
    background: url(../images/iai/audio_on.svg)  top 15px left 12px no-repeat;
}

.iai-content-link a.link-appli {
    background: url(../images/iai/picto_appli_off.svg)  top 15px left 12px no-repeat;
}

.iai-content-link a.link-appli:hover {
    background: url(../images/iai/picto_appli_on.svg)  top 15px left 12px no-repeat;
}

.iai-content-link a.link-fiche {
    background: url(../images/iai/picto_fiche_off.svg)  top 15px left 12px no-repeat;
}

.iai-content-link a.link-fiche:hover {
    background: url(../images/iai/picto_fiche_on.svg)  top 15px left 12px no-repeat;
}

.iai-header.iai-home-header {
    display: flex;
}

.iai-header .iai-baseline {
    display: inline-block;
    line-height: 80px;
    max-height: 80px;
    width: calc( 100% - 232px );
    text-align: center;
}

.iai-header .iai-baseline > span {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
}

.iai-home-contents {
    margin: 180px 8% 45px;
    display: flex;
}

.iai-content img,
.iai-home-contents img {
    padding: 0;
}


.iai-home-contents > div:first-child {
    flex: 0 0 57%;
}

.iai-home-contents > div:last-child {
    flex: 0 0 43%;
}

.iai-home-contents > div > a {
    display: block;
    box-sizing: border-box;
}

.iai-home-contents > div > a > img {
    display: block;
    box-sizing: border-box;
}

.iai-home-contents .iai-content-block {
    border: none;
    width: 100%;
    margin: 10px 20px 30px;
}

.iai-home-contents .iai-content-block-intro {
    margin-top: 0;
}

.iai-home-contents ul,
.iai-home-menu ul {
    margin: 0;
    padding: 0;
}

.iai-content-block li.fun-icon a {
    background: url(../images/iai/logos/logo_fun_mooc2@2x.png) top left / 62px 60px no-repeat;
}

.iai-home-menu .iai-tuto-links {
    display: flex;
    background-color: #F8F7F5;
    padding: 30px 0;
    margin-bottom: 45px;
}

.iai-home-menu li.iai-tuto-link {
    padding: 38px 38px  42px;
    border-right: 2px solid #CBBFB2;
}

.iai-home-menu li.iai-tuto-link:last-child {
    border:none;
}

.iai-home-menu li.iai-tuto-link a {
    color:#5937B9;
}

.iai-home-menu li.iai-tuto-link a:hover {
    color:#F95230;
}

.iai-home-menu li.iai-tuto-link .iai-tuto-link-title > span:first-child {
    font-size: 45px;
    font-weight: bold;
    line-height: 53px;
}

.iai-home-menu li.iai-tuto-link .iai-tuto-link-title > span:last-child {
    font-size: 19px;
    font-weight: 900;
    line-height: 23px;
}

.iai-home-menu .iai-tuto-icon {
    width: 124px;
    height: 124px;
}

.iai-home-logos {
    border-top: 5px #CED5EE dotted;
    border-bottom: 5px #CED5EE dotted;
    box-sizing: border-box;
    padding: 58px 3% 28px;
    text-align: center;
}

.iai-home-logos img {
    height: 60px;
    margin-bottom: 20px;
}

.iai-credits {
    margin: 26px 4%;
}

.iai-home-logos,
.iai-credits,
.iai-credits div,
.iai-credits p {
    color: #4A4A4A;
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.iai-credits h2 {
    color: #F95230;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 47px;
    margin-bottom: 10px
}

.iai-credits h3 {
    text-transform: uppercase;
}

.iai-credits .iai-credits-intro {
    padding: 20px 0 30px;
    border-bottom: 1px solid #CBBFB2;
}

.iai-credits .columns {
    border-bottom: 1px solid #CBBFB2;
    margin-bottom: 30px;
    display: none;
}

.iai-credits .columns.opened {
    display: flex;
}

.iai-credits .columns .column {
    flex:0 0 50%;
    box-sizing: border-box;
}

.iai-credits .columns .column > div {
    margin-bottom: 30px;
}

.iai-credits .columns .column:first-child {
    padding-right:3%;
}

.iai-credits .columns .column:last-child {
    padding-left:3%;
}

.iai-credits .iai-credits-tout-voir a {
    display: inline-block;
    color: #F95230;
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
    margin: 10px 0 15px;
}

.iai-credits .iai-credits-tout-voir a:hover {
    color:#4462CE;
}

.iai-credits .iai-credits-tout-voir a::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 12px;
    height: 10px;
    background: url(../images/iai/chevron_texte_off.svg) center right no-repeat;
}

.iai-credits .iai-credits-tout-voir a:hover::after {
    background: url(../images/iai/chevron_texte_on.svg) center right no-repeat;
}

.iai-credits .iai-credits-tout-voir a.opened::after {
    transform-origin: 50% 50%;
    transform:rotate(180deg);
}

.iai-credits .iai-credits-et-tous-les-partenaires a {
    color: #F95230;
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
}

.iai-credits .iai-credits-et-tous-les-partenaires a:hover {
    color:#4462CE;
}

.iai-video-popup {
    position:fixed;
    z-index:10001;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding: 50px calc( 50% - 640px );
    background:rgba(0,0,0,0.9);
    box-sizing: border-box;
}

.iai-video-popup::after {
    content: '';
    display: block;
    background: url(../images/iai/croix-orange.svg) center / 20px 20px no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top:15px;
    right:15px;
    cursor: pointer;
}

.customize-support .iai-video-popup {
    padding-top: 90px;
}

.customize-support .iai-video-popup::after {
    top:50px;
}


.iai-video-popup h2{
    margin-left: 50px;
    color: #FFFFFF;
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    opacity: 0;
    display: none;
}

.iai-video-popup-parent {
    position: relative;
    width:100%;
    padding-bottom: 56.25%;
    max-height: calc( 100vh - 160px );
}

.iai-video-popup iframe {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border: solid #5E5E5E 1px;
}

.iai-ressources h3{
  font-family: 'Raleway', sans-serif;
  font-size:20px;
}
.iai-ressources .orange{
  color:#F95230;
}
.iai-ressources .blue{
  color:#5937B9;
}
.iai-ressources .green{
  color:#00A387;
}
.iai-ressources ul{
  padding-left:30px;
  display:block;
}

@media screen and (max-width:1360px) {

    .iai-video-popup {
        padding: 5%;
    }

}

@media screen and (max-width:1280px) {

    .iai-header {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding-left: 2%;
        padding-right: 3%;
    }

    .iai-nav-bar {
        left:0;
        margin: 0;
    }

    .iai-video-popup {
        padding: 35px 5% 0;
    }

    .iai-video-popup::after {
        top:5px;
        right:5px;
    }

    .customize-support .iai-video-popup {
        padding-top: 90px;
    }

    .customize-support .iai-video-popup::after {
        right:15px;
        top:60px;
    }
}

@media screen and (max-width:1048px) {

    .iai-header {
        padding: 14px 10px 14px 20px;
    }

    .iai-nav-bar {
        top: 182px;
    }

    .iai-nav-bar.with-userbar {
        top: 214px;
    }

    .iai-nav-items.opened {
        display: block;
        width: 225px;
        background-color: rgba(246,246,242,0.95);
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
        height: 100vh;
        padding-top: 45px;
    }

    .iai-nav li.iai-nav-item a {
        width: 206px;
        height: 60px;
        margin-bottom: -9px;
    }

    .iai-nav {
        position: relative;
    }

    .iai-nav .iai-nav-burger {
        display: inline-block;
    }

    .iai-nav.opened .iai-nav-burger {
        display: none;
    }

    .iai-nav.opened .iai-nav-close {
        display: inline-block;
    }

    .iai-nav ul {
        margin: 0;
        display: none;
    }

    .iai-nav.opened ul {
        display: block;
    }

    .iai-nav li.iai-nav-item a > span {
        font-size: 18px;
        line-height: 22px;
        margin-left: 15px;
        margin-top: 12px;
    }

    .iai-content-blocks {
        margin-left: 90px;
        margin-right: 12px;
    }

    .iai-content h2 {
        margin-left: 90px;
        margin-right: 15px;
    }

    .iai-header .iai-tuto-icon {
        width: 48px;
        height: 48px;
    }

    .iai-header .iai-logo {
        width: 199px;
        margin-right: 30px;
        background-position: center;
        background-size: contain;
    }

    .iai-header .iai-logo {
        height: 100px;
    }

    .iai-home-header .iai-logo {
        height: 80px;
    }

    .iai-home-menu .iai-tuto-links,
    .iai-header .iai-tuto-links {
        display: flex;
        overflow: hidden;
    }

    .iai-home-menu li.iai-tuto-link,
    .iai-header li.iai-tuto-link {
        flex: 0 0 33.33%;
        text-align: center;
        margin-right:0;
    }

    .iai-home-menu li.iai-tuto-link {
        padding: 0;
    }

    .iai-home-menu .iai-tuto-icon {
        width:83px;
        height:83px;
        margin-bottom: 10px;
        display: block;
    }

    .iai-home-menu  li.iai-tuto-link .iai-tuto-icon {
        display: block;
    }

    .iai-home-menu li.iai-tuto-link .iai-tuto-link-title > span:first-child {
        font-size: 30px;
        line-height: 35px;
    }

    .iai-home-menu li.iai-tuto-link .iai-tuto-link-title > span:last-child {
        font-size: 17px;
        line-height: 21px;
    }

    .iai-header li.iai-tuto-link a {
        text-align: center;
    }

    .iai-header li.iai-tuto-link .iai-tuto-link-title > span:first-child {
        font-size: 20px;
        line-height: 24px;
    }

    .iai-header li.iai-tuto-link .iai-tuto-link-title > span:last-child {
        font-size: 13px;
        line-height: 16px;
    }

    .iai-header li.iai-tuto-link .iai-tuto-link-title {
        display: block;
        text-align: center;
        padding-left: 0;
    }

    .iai-header li.iai-tuto-link .iai-tuto-icon {
        margin-bottom: 5px;
    }

    .iai-content-blocks {
        width: calc( 100% - 105px );
        display: block;
        margin-right: 0;
    }

    .iai-content-block {
        width: 100%;
        border: none;
        padding: 0;
    }

    .iai-content h2 {
        padding-left: 0;
    }

    .iai-content-block-intro {
        margin-top: 15px;
        margin-right: 25px;
    }

    .iai-content-block li {
        margin-right: 20px;
    }

    .iai-content-block li.fun-icon a {
        padding-left: 74px;
    }

    .iai-tuto-parent,
    .iai-video-parent {
        border-left: 1px dashed #979797;
        border-right: 1px dashed #979797;
        padding-left: 25px;
        padding-right: 25px;
    }

    .iai-home-contents .iai-video-parent a::after,
    .iai-content .iai-tuto-parent a::after,
    .iai-content .iai-video-parent a::after   {
        right: 47px;
    }

    .iai-home-contents .iai-content-block > ul,
    .iai-content-block.iai-content-video-block > ul,
    .iai-content-blocks ul {
        display: flex;
        margin: 0 8%;
    }
	.iai-content-blocks .iai-ressources ul{
      display:block;
	  margin: 0px;
    }

    .iai-content-block.iai-content-video-block > ul > li {
        flex: 0 0 100%;
    }

    .iai-home-contents .iai-content-block > ul > li,
    .iai-content-blocks ul > li {
        flex: 0 0 50%;
    }

    .iai-content-links.iai-content-links-for-tutorial,
    .iai-content-links {
        padding:25px 40px 60px 80px;
        margin: 0 0 45px 0;
        background: none;
    }

    .iai-content .iai-tuto-parent img {
        width: auto;
    }

    .iai-content-link a.link-article,
    .iai-content-link a.link-article:hover,
    .iai-content-link a.link-video,
    .iai-content-link a.link-video:hover,
    .iai-content-link a.link-audio,
    .iai-content-link a.link-audio:hover {
        background-position: top 14px left 10px;
    }

    .iai-content-video-blocks {
        display: flex;
    }

    .iai-content-blocks.iai-content-video-blocks {
        width: calc( 100% - 95px );
        margin: 0 15px 0 80px;
        padding:0;
    }

    .iai-content-blocks.iai-content-video-blocks .iai-video-parent {
        border:none;
    }

    .iai-header .iai-baseline > span {
        font-size: 20px;
        line-height: 24px;
    }

    .iai-content-video-title {
        margin-right: 25px;
    }

    .iai-home-contents {
        display: block;
        margin: 185px 5% 60px;
    }

    .iai-home-contents .iai-content-block {
        width: auto;
    }

    .iai-home-logos img {
        height: 40px;
    }

    .iai-credits {
        margin: 26px 3%;
    }

    .iai-credits .columns.opened {
        display: block;
    }

    .iai-credits .columns .column:last-child {
        padding-left: 0;
    }

    .iai-credits h3 {
        margin: 0;
    }

    .iai-credits h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 0;
    }

    .iai-credits .iai-credits-intro {
        padding: 10px 0 20px;
    }

    .iai-credits .iai-credits-tout-voir a {
        margin: 20px 0 15px;
        font-size: 20px;
    }

    .iai-video-report-conference {
        width: 100%;
    }

}

@media screen and (max-width:1048px) and (max-height:480px) {

    .header-classcode-v2,
    .iai-header,
    .iai-nav-bar {
        position: relative;
        top:0;
        left:0;
    }

    .iai-nav-bar {
        float: left;
    }

    .iai-nav-bar.with-userbar,
    .iai-header.with-userbar {
        top:0;
    }

    .iai-content {
        margin-top: 0;
    }

    .page-content {
        padding-top: 0;
    }

    .iai-video-popup {
        padding: 35px 5% 0;
    }

    .iai-video-popup h2 {
        display: none;
    }

    .iai-home-contents {
        margin-top: 50px;
    }
}

@media screen and (max-width:782px) {

    .iai-nav-bar {
        top: 182px;
    }

    .iai-nav-bar.with-userbar {
        top: 228px;
    }

    .iai-header.with-userbar {
        top: 100px;
    }

    .iai-footer .iai-tuto-icon {
        width: 63px;
        height: 63px;
    }

    li.iai-tuto-link .iai-tuto-link-title > span:first-child {
        font-size: 20px;
        line-height: 24px;
    }

    li.iai-tuto-link .iai-tuto-link-title > span:last-child {
        font-size: 11px;
        line-height: 13px;
    }

    .iai-footer li.iai-tuto-link:first-child a {
        padding-left: 70px;
    }

    .iai-footer li.iai-tuto-link:last-child a {
        padding-right: 70px;
    }

}

@media screen and (max-width:1048px) and (max-height:480px) {

    .header-classcode-v2,
    .iai-header,
    .iai-nav-bar {
        position: relative;
        top:0;
        left:0;
    }

    .iai-nav-bar.with-userbar,
    .iai-header.with-userbar {
        top:0;
    }

    .iai-nav-bar {
        float: left;
    }

    .iai-content {
        margin-top: 0;
    }

    .page-content {
        padding-top: 0;
    }

    .iai-video-popup {
        padding: 35px 5% 0;
    }

    .iai-video-popup h2 {
        display: none;
    }

    .iai-home-contents {
        margin-top: 50px;
    }
}

@media screen and (max-width:680px) {

    .iai-nav-bar {
        top: 136px;
        width: 100%;
    }

    .iai-nav-bar.with-userbar {
        top: 182px;
    }

    .iai-nav-items {
        width:100%;
        display: none;
    }

    .iai-nav-items .iai-nav-burger {
        display: none;
    }

    .iai-nav-items ul {
        display: flex;
        width: 100%;
        background-color: #FFFFFF;
        padding-top: 5px;
    }

    .iai-nav-items ul li {
        flex:0 0 25%;
    }

    .iai-nav-items li.iai-nav-item a {
        margin-bottom: 2px;
    }

    .iai-nav-items li.iai-nav-item a:hover,
    .iai-nav-items li.iai-nav-item.iai-nav-item-active a,
    .iai-nav-items li.iai-nav-item a {
        background-size: contain;
        display: block;
        width:auto;
        margin-bottom:0;
        height: 50px;
    }

    .iai-nav-items li.iai-nav-item a > span {
        font-size: calc( 10px + .5vw );
        margin-top: calc( 6% - 4px );
        margin-left: calc( 6% + 1px );
    }

    .iai-nav-bar .iai-nav.iai-nav-items.opened {
        display: block;
    }

    .iai-nav-bar .iai-nav-modules {
        display: none;
    }

    .iai-nav-bar .iai-nav-modules.opened {
        display: block;
        width: 225px;
        background-color: rgba(246, 246, 242, 0.95);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
        height: 100vh;
        padding-top: 45px;
    }

    .iai-nav-bar .iai-nav-modules.opened {
        top: 0; /* -56px; */
    }

    .iai-nav-bar.with-userbar .iai-nav-modules.opened {
        top: 0; /* -42px; */
    }

    .iai-nav-bar.iai-nav-bar-parcours .iai-nav-modules.opened {
        top: 0;
    }

    .iai-nav-module {
        margin-left: 12px;
        list-style-type: none;
        margin-bottom: 18px;
    }

    .iai-nav-module a {
        color: #5937B9;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        font-weight: 900;
        line-height: 16px;
        text-transform: uppercase;
    }

    .iai-nav-module a:hover {
        color:#F95230;
    }

    .iai-header .iai-tuto-links {
        position: fixed;
        display: none;
    }

    .iai-header .iai-menu-burger {
        display: block;
        cursor: pointer;
    }

    .iai-header .iai-logo {
        width: 100%;
        height: 53px;
        margin-right: 0;
    }

    .iai-header .iai-baseline {
        display: none;
    }

    .iai-content {
        margin-top: 115px;
    }

    .iai-content h2 {
        margin-left: 3%;
        margin-right: 3%;
    }

    .iai-content-blocks {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        margin: 0;
        box-sizing: border-box;
    }

    .iai-tuto-parent,
    .iai-video-parent {
        border: none;
        padding: 0;
    }

    .iai-content-video-title {
        margin-right: 0;
    }

    .iai-content-blocks ul {
        display: block;
        margin: 0;
    }

    .iai-content-blocks ul > li {
        display: block;
    }

    .iai-content-links.iai-content-links-for-tutorial,
    .iai-content-links {
        padding: 0 3% 25px 3%;
        margin: 0;
    }

    .iai-content-link a:hover,
    .iai-content-link a {
        background-position: top 14px left 12px !important;
    }

    .iai-content-blocks.iai-content-video-blocks {
        display: block;
        width: 94%;
        margin: 30px 3%;
        padding: 0;
        box-sizing: border-box;
    }

    .iai-content-video-blocks .iai-video-parent {
        margin-bottom: 15px;
    }

    .iai-content-video-blocks .iai-video-parent:nth-child(2n),
    .iai-content-video-blocks .iai-video-parent:nth-child(2n+1) {
        padding-right: 0;
        padding-left: 0;
    }


    .iai-content-video-blocks .iai-video-parent:nth-child(2n) .video-infos,
    .iai-content-video-blocks .iai-video-parent:nth-child(2n+1) .video-infos {
        margin-left: 0;
        margin-right: 0;
    }

    .iai-content .iai-video-parent .video-infos {
        width: 100%;
    }

    .iai-content-video-block {
        margin-bottom: 0;
    }

    .iai-home-contents .iai-content-block > ul,
    .iai-content-blocks ul {
        margin: 0 0 30px 0;
    }

    .iai-content-block.iai-content-video-block > ul {
        margin: 0;
    }

    .iai-footer li.iai-tuto-link:first-child {
        margin-left: 3%;
    }

    .iai-footer li.iai-tuto-link:last-child {
        margin-right: 3%;
    }

    .iai-content-link a::after {
        display: none;
    }

    .iai-content h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom:2px;
    }

    .iai-ressources h3{
        font-size:17px;
    }

    .iai-content.iai-content-post p {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 20px;
        margin-right: 30px;
    }

    .iai-content.iai-content-post h2 {
        margin-bottom: 20px;
    }

    .iai-content-links-header {
        padding: 16px 30px 16px 12px;
    }

    .iai-content-links-header > p {
        font-size: 12px;
        line-height: 15px;
    }

    a.iai-content-links-header .toggle {
        width: 25px;
        height: 25px;
    }

    .iai-content-link a,
    .iai-content-link a > * {
        font-size: 12px;
        line-height: 15px;
    }

    .iai-content-link a {
        padding: 13px 18px 13px 65px;
    }

    .iai-content-block li > a > p:first-child {
        font-size: 16px;
        line-height: 19px;
    }

    .iai-content-block li > a > p:last-child {
        font-size: 13px;
        line-height: 16px;
    }

    .iai-content-block li a {
        padding: 6px 0 14px 50px;
    }

    .iai-content-block li.fiche-pedago-icon a,
    .iai-content-block li.fiche-pedago-icon a:hover,
    .iai-content-block li.parlons-en-icon a,
    .iai-content-block li.parlons-en-icon a:hover {
        background-size: 41px 41px;
    }

    .iai-content-video-blocks .iai-video-parent:nth-child(2n)::after,
    .iai-content-video-blocks .iai-video-parent:nth-child(2n+1)::after,
    .iai-content a.iai-content-video-block::after,
    .iai-content .iai-tuto-parent a::after,
    .iai-content .iai-video-parent a::after,
    .iai-home-contents .iai-video-parent a::after {
        width:50px;
        height: 50px;
        bottom: 19px;
        right: 11px;
    }

    .iai-content-video-title {
        font-size: 10px;
    }

    .iai-home-contents {
        margin: 110px 3% 10px;
    }

    .iai-home-contents .iai-content-block {
        margin-left: 0;
        margin-right: 0;
    }

    .iai-home-contents .iai-content-block > ul {
        display: block;
    }

    .iai-home-contents .iai-content-block li a {
        padding: 10px 0 14px 58px;
    }

    .iai-content-block li.fun-icon a {
        background-size: 47px 45px;
    }

    .iai-home-menu .iai-tuto-links {
        display: block;
    }

    .iai-home-menu li.iai-tuto-link {
        border: none;
        display: block;
        text-align: left;
        padding-left: 3%;
        margin-bottom: 25px;
    }

    .iai-home-menu li.iai-tuto-link:last-child {
        margin-bottom: 0;
    }

    .iai-home-menu li.iai-tuto-link .iai-tuto-icon {
        display: inline-block;
    }

    .iai-home-menu li.iai-tuto-link .iai-tuto-link-title > span:first-child {
        font-size: 15px;
        line-height: 18px;
    }

    .iai-home-menu li.iai-tuto-link .iai-tuto-link-title > span:last-child {
        font-size: 13px;
        line-height: 15px;
    }

    .iai-home-menu .iai-tuto-icon {
        width:70px;
        height: 70px;
        margin-bottom: 0;
    }

    li.iai-tuto-link .iai-tuto-link-title {
        padding-left: 20px;
    }

    .iai-home-logos {
        padding-top: 16px;
        padding-bottom: 2px;
    }

    .iai-home-logos img {
        height: 35px;
        margin-bottom: 0;
    }

    .iai-credits h2 {
        font-size: 15px;
        line-height: 18px;
    }


    .iai-footer li.iai-tuto-link:first-child,
    .iai-footer li.iai-tuto-link:last-child {
        display: block;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .iai-footer li.iai-tuto-link:last-child {
        margin-top:25px;
        margin-bottom:15px
    }

    .iai-footer li.iai-tuto-link:last-child a {
        width: 100%;
        box-sizing: border-box;
        padding-left: 70px;
    }

}

@media screen and (max-width:680px) and (max-height:480px) {

    .iai-header .iai-logo {
        float: none;
    }

    .iai-nav-bar.with-userbar,
    .iai-header.with-userbar {
        top:0;
    }

    .iai-nav-bar {
        top:0;
    }

    .iai-content {
        margin-top: 0;
    }

    .iai-home-contents {
        margin-top: 20px;
    }

}