@charset "UTF-8";

/*
*/

html {
	background-color:#999999;
}

body {
  max-width:1280px;
}

div, p {
	margin: 0;
	border:0;
	font-size: 20px;
}

body {
	max-width:1280px; 
    background-color:white;
	color:#266D83; 
	font-family:Arial, sans-serif; 
	font-style:normal; 
	text-align:left;
	margin:0 auto;
}

.clear {
	float: none;
	clear: both;
}

.right {
	float: right;
}




/* MENU HAUT - BURGER BUTTON */

.header-classcode-v2 {
	position: fixed;
	z-index: 10000;
	width: 100%;
	max-width:1280px;
	margin:auto;
	height: 54px;
	background-color:#5e5e5e; 
}

header .toggle-menu {
	position: absolute;
}

header .logo_class_code {
	position: absolute;
	height: 54px;
	left:54px;
	top:0px;
	background-image: url(../images/logo-classcode.png);
	background-repeat: no-repeat;
	background-size: 191px 27px;
	background-position: 26px 15px;
}

header .logo_class_code a {
	display: inline-block;
	width:310px;
	height: 100%;
	text-align: right;
	font-size:12px;
	padding-top:28px;
	color:white;
}

header .logo_class_code a:hover {
	color:white;
}

header .sinscrire {
	position: absolute;
	right: 10px;
	height: 100%;
	background-image: url(../images/menu_logout.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: right;
}

header .sinscrire a {
	color: white;
	line-height: 54px;
	text-decoration: none;
	padding-right:30px; 
}

header .utilisateur-connecte  {
	float: right;
	padding-right: 10px;
}

header .utilisateur-connecte a,
header .utilisateur-connecte a:hover {
	color:white;
	text-transform: uppercase;
}

header .utilisateur-connecte img  {
	padding: 0;
	vertical-align: middle;
}

header .nom-utilisateur {
	line-height: 52px;
}

header .image-utilisateur {
	padding: 0;
	vertical-align: middle;
    margin-top: -4px;
}

header .menu-deroulant {
	display: none;
}

header .avertissement {
	position: absolute;
	right:6px;
	top:60px;
	background-color:rgba(94,94,94,0.4); 
}

header .avertissement a {
	color:rgba(220,220,220,0.9);
	font-size:14px;
	line-height: 16px;
	padding:5px 5px 5px 5px;
	font-style: italic;
	margin: 0;
	display: block;
}

.icone-menu-principal {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 54px;
  height: 54px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.icone-menu-principal:focus {
  outline: none;
}

.icone-menu-principal span {
  display: block;
  position: absolute;
  top: 25px;
  left: 10px;
  right: 10px;
  height: 4px;
  background: white;
}

.icone-menu-principal span::before,
.icone-menu-principal span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.icone-menu-principal span::before {
  top: -9px;
}

.icone-menu-principal span::after {
  bottom: -9px;
}

.icone-menu-principal-classcode2 {
  background-color: #5e5e5e;
}

.icone-menu-principal-classcode2 span {
  transition: background 0s 0.3s;
}

.icone-menu-principal-classcode2 span::before,
.icone-menu-principal-classcode2 span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.icone-menu-principal-classcode2 span::before {
  transition-property: top, transform;
}

.icone-menu-principal-classcode2 span::after {
  transition-property: bottom, transform;
}

.icone-menu-principal-classcode2.is-active {
  background-color: #4d4d4d;
}

/*
.icone-menu-principal-classcode2.is-active span {
  background: none;
}

.icone-menu-principal-classcode2.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.icone-menu-principal-classcode2.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.icone-menu-principal-classcode2.is-active span::before,
.icone-menu-principal-classcode2.is-active span::after {
  transition-delay: 0s, 0.3s;
}
*/

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}
 
.menus-classcode2 {
	position: relative;
	z-index:9999999;
}

.responsive-menu {
	display: none;
	position: absolute;
	top:-200px;
	background-color: #4d4d4d;
	border-top: 1px #61b3af solid;
	transition-duration: 0.75s;
	transition-timing-function:ease-in-out;
	transition-property: top, transform;
	padding:15px 0;
	-moz-box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.2);	
}

.responsive-menu p, .responsive-menu ul, .responsive-menu li {
	margin:0;
	padding: 0;
}

.responsive-menu p, .responsive-menu li {
	font-size:15px;
	line-height: 15px;
}

.responsive-menu.expand {
	display: block !important; 
	top:53px;
	width: 280px;
}

.responsive-menu.left-menu {
	left:0;
}

.responsive-menu.right-menu {
	right:0;
}
	
.responsive-menu li {
	list-style-type: none;
	display: block;
}

.responsive-menu a, 
.responsive-menu a:hover {
	color: white;
	display: block;
}

.responsive-menu > ul li a,
.responsive-menu > ul li a:hover {
	padding: 4px 22px 4px 22px;
	color: #EEEEEE;
}

.responsive-menu p a {
	font-weight: bold;
}

.responsive-menu li li a,
.responsive-menu li li a:hover {
	padding: 4px 22px 4px 44px;
}

.responsive-menu li a:hover {
	background-color: #5e5e5e;
}

.responsive-menu.left-menu li {
	text-align: left;
}

.responsive-menu.right-menu li {
	text-align: right;
}


.page-content {
	padding-top:54px;
}


/* ACCUEIL */

.content-category .content-category-title {
	color:#3f6476;
	font-size: 1.25rem;
	font-weight:bold;
	text-transform: uppercase;
}

.content-category .content-category-subtitle {
	display: inline;
	font-size:14px;
	line-height:16px;
	font-weight:normal;
	text-transform: none;
	padding-left: 5px;
}

@media (max-width:1100px) {
	
	.content-category .content-category-subtitle {
		display: block;
		padding-left: 0;
		padding-top: 5px;
	}
}

.content-category {
}

.content-category img {
	padding: 0;
}

.content-category .card {
	overflow: hidden;
}

.content-category .card a {
	display: block;
	margin:0;
	padding: 0;
}

.content-category .cards-with-arrows {
	width: 100%;
	margin-top: 5px;
}

.content-category .cards-with-arrows > div {
	float: left;
}

.content-category .cards-with-arrows .arrow {
	width:20px; /* équivalent à la marge des titres des catégories */
}

.content-category .cards-with-arrows .arrow img,
.content-category .cards-with-arrows .arrow .helper {
	vertical-align: middle;
	display: inline-block;
}

.content-category .cards-with-arrows .arrow .helper {
	height: 100%;
}

.content-category .cards-with-arrows .arrow.previous {
	float:left;
	cursor: pointer;
}

.content-category .cards-with-arrows .arrow.next {
	float:right;
	cursor: pointer;
}

.content-category .cards-with-arrows .arrow.next,
.content-category .cards-with-arrows .arrow.previous {
	opacity: 1;
	pointer-events:auto;
}

.content-category .cards-with-arrows .arrow.next.arrow-hidden,
.content-category .cards-with-arrows .arrow.previous.arrow-hidden {
	opacity: 0.1;
	pointer-events: none;
}


.content-category .cards-with-arrows .cards {
	width:calc(100% - 40px); /* 2 * équivalent à la marge des titres des catégories */
	overflow: hidden;
}

.content-category .cards-with-arrows .cards-container {	
	position: relative;
	left:0;
	
	transition-duration: 0.25s;
	transition-timing-function:ease-in-out;
}

.content-category .content-category-title {
  color:#5D5D5D;
  padding-bottom:5px;
  border-bottom: 2px solid #27CFD0;
}

.content-category .content-header {
	height: 5px;
}



/* ACCUEIL SLIDER */

.t2 {
}

.t2 ul, .t2 li {
	padding: 0;
	margin:0;
}

.t2 li {
	list-style-type: none;
}

.t2 li {
	display: none;
}

.t2 .bx-wrapper li,
.t2 li:first-child {
	display: block;
}

.t2 li img {
	padding: 0;
}

.t2 .bx-wrapper {
    margin: 0 auto 0px;
}

.t2 .bx-wrapper .bx-viewport {
	border: none;
	background: none;
	left:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	font-size: 0;
}

.t2 .bx-wrapper .bx-pager {
    position: absolute;
    bottom: 5px;
}



/* ACCUEIL À LA CARTE */

.t3 {
}

.t3 .content-category-title {
	margin: 20px 20px 0 20px;
}

.t3 .cards {
	margin:0 15px 0px 15px;
	width:calc(100% - 30px); /* 30 = margin-left + margin-right */
}

.t3 .card {
	width:calc(20% - 15px); /* 5 vignettes */
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	border: 1px #61b3b1 solid;
}

@media (max-width:1200px) {
	.t3 .card {
		width:calc(25% - 12px); /* 4 vignettes - 12 = margin-right 10 + 2 x border 1px */
		display: inline-block;
		vertical-align: top;
		margin: 5px;
		border: 1px #61b3b1 solid;
	}
}

@media (max-width:1100px) {
	.t3 .card {
		width:calc(33.3333% - 12px); /* 3 vignettes - 12 = margin-right 10 + 2 x border 1px */
		display: inline-block;
		vertical-align: top;
		margin: 5px;
		border: 1px #61b3b1 solid;
	}
}

@media (max-width:640px) {
	.t3 .card {
		width:calc(50% - 12px); /* 2 vignettes - 12 = margin-right 10 + 2 x border 1px */
		display: inline-block;
		vertical-align: top;
		margin: 5px;
		border: 1px #61b3b1 solid;
	}
}

@media (max-width:1100px) {
	
    .content-category .cards-with-arrows .cards {
        width: calc(100% - 40px);
	}
}

.t3 .card .card-thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 0;
	padding-bottom: 51.33%; /* = 154 / 300 */
	/*
	border-top: 10px #27cfd0 solid;
	border-bottom: 10px #27cfd0 solid;
	*/
}

.t3 .card .titles {
	position: relative;
	color: black;
	white-space: normal;
	padding: 6px 9px;
}

.t3 .card .titles {
	position: relative;
	color: black;
	white-space: normal;
	padding: 6px 9px;
}

.t3 .card .titles .categories {
	font-size: 1.0rem;
}

.t3 .card .titles .categories a {
	font-size: 0.95rem;
	display: inline;
	color: #266D83;
}

.t3 .card .titles .categories a:hover {
	text-decoration: underline;
}


.t3 .card .titles .title {
	font-size: 0.85rem;
	line-height: 0.9rem;
}

.t3 .card .titles .title a {
	color:#27cfd0;
}

.t3 .card .titles .title a:hover {
	text-decoration: underline;
}

.t3 .card.search {
	background-image: url( ../images/search.png);
	background-repeat: no-repeat;
	background-position: center 30px;
	background-size:50px 50px;
	background-color: #27cfd0;
}

.t3 .card.search .search-content {
	height: 100%;
}

.t3 .card.search .search-content a {
	display: block;
	padding-top: 100px;
	text-transform: uppercase;
	text-align: center;
	bottom: 0;
	font-size: 1.0rem;
	color: white;
}

/* ACCUEIL PARCOURS */

.t4 {
}

.t4 .content-category-title {
	margin: 20px 20px 0 20px;
}

.t4 .cards {
	margin:0 15px 0px 15px;
	width:calc(100% - 30px); /* 30 = margin-left + margin-right */
}

.t4 .card  {
	width:calc(25% - 15px);
	font-size: 1.2rem;
	margin:5px;
	border: 1px #61b3b1 solid;
	float: left;
}

@media (max-width:1100px) {
	.t4 .card {
		width:calc(33.3333% - 15px);
	}
}

@media (max-width:640px) {
	.t4 .card {
		width:calc(50% - 15px);
	}
}

.t4 .card .card-thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	width: 100%;
	height: 0;
	padding-bottom: 70.66%; /* = 212 / 300 */
	border-bottom: 1px #61b3b1 solid;
	overflow: hidden;
	position: relative;
}

.logopartners .card .card-thumbnail{
	background-size: contain;
}

.t4 .card a .card-thumbnail-description {
	font-size: 14px;
	padding: 10px;
	color: white;
	background-color: rgba(0,0,0,0.7);	
	width: calc(100% - 20px);
	min-height:250px;
	position:absolute;
	top:250px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-out, top 0.25s ease-out;
	-moz-transition: opacity 0.5s ease-out, top 0.25s ease-out;
	transition: opacity 0.5s ease-out, top 0.25s ease-out;
}

.t4 .card a:hover .card-thumbnail-description {
	top:0px;
	opacity: 1;
}


.t4 .card .title {
	font-size: 1.2rem;
	margin: 6px 9px;
	height: 40px;
	overflow: hidden;
}



/* ACCUEIL - PRÈS DE CHEZ VOUS  */

.t5 {
	height: 605px;
	padding: 20px;
}

.t5 .content-header {
	height: 20px;
}

.t5 .carte-parent {
	width: 100%;
	position: relative;
}

.t5 .carte,
.t5 #classCodeMeetingList {
	position: absolute;
	width: 70%;
	height: 520px;
  z-index:2;
  margin-left:30%;
}
.t5 .meetingSearchFormMapChangeLink{
  margin-right:5px;
  float:right;
  cursor: pointer;   
}
.t5 .meetingSearchFormMapChangeLink:hover{
  text-decoration:underline; 
}

.t5 #classCodeMeetingList{
  overflow: auto;
  font-size:14px;
  color:#5D5D5D;
}

.t5 #meetingListTable th.sortable{
  cursor: pointer;
}
.t5 #meetingListHeader .headerSortDown,
.t5 #meetingListHeader .headerSortUp{
  color:black;
}
.t5 #meetingListHeader .headerSortDown span,
.t5 #meetingListHeader .headerSortUp span{  
  background-repeat:no-repeat;
  background-position:5% 50%;
}
.t5 #meetingListHeader .headerSortDown span{
  background-image: url("../images/pictos/img-20_black_inverse.png");
}
.t5 #meetingListHeader .headerSortUp span{  
  background-image: url("../images/pictos/img-20_black.png");
}
.t5 #meetingListTable .odd{
  background-color:white;
}
.t5 #meetingListTable .even{
  background-color:#ECECEC;
}
#classCodeMapOverlay {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #fff;
  width: 300px !important;
  height: 518px !important;
  display:none;
  margin-left: 30%;
  border:1px solid #CCCCCC;
  overflow-wrap:break-word;
}
#classCodeMapOverlayTitle{
  background-color: #CCCCCC;
  overflow-wrap:break-word;
  color: #5E5E5E;
  padding: 10px 30px 10px 10px;
  position:relative;
}
#classCodeMapOverlayTitleContent{
  border:none;
}

.returnIcon{
  position: absolute;
  right:10px;
  top:10px;
  background-image: url(../images/pictos/map/croix.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 22px;
  width: 22px;
}

a.classCodeMapOverlayLink, 
a.classCodeMapOverlayModifyLink{
  color:white;
  text-decoration:none;
  display:block;
  background-color:#27CFD0;
  padding: 10px 20px;
  margin:10px 20px;
  text-align: left;
  font-weight: bold;
}
a.classCodeMapOverlayModifyLink{
  background-color:#CCCCCC;
}
#classCodeMapOverlayContent{
  font-size: 14px;
  padding-left: 1%;
  color: #000;
  overflow-wrap:break-word;
}

#classCodeMapOverlayContent div{
  font-size: 14px;
  margin-top: 5px;
  color: #5D5D5D;
  margin-left:10px;
  margin-right:10px;
}
#classCodeMapOverlayContent div.classCodeMapOverlayContentTitle {
  color: #CCCCCC;
  margin-left:0px;
}

#classCodeMapOverlayContent div.classCodeMapOverlayEmphasis{
  font-weight:bold;
  margin-left:0px;
}

#classCodeMapOverlayContent div.modifyMeeting a,
#classCodeMapOverlayContent div.viewMeeting a {
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 2px 5px;
  font-size: 16px;
}
#classCodeMapOverlayContent div a {
  
}
#classCodeMapOverlayContent div.modifyMeeting a {
  background-color: #54CA90;
  color: white;
  text-decoration:none;
  padding: 2px;
}
#classCodeMapOverlayContent div.viewMeeting a {
  background-color: #276e84;
  color: white;
  text-decoration:none;
  padding: 2px;
}
#classCodeMapOverlayContent div.classCodeMapOverlayContentLogo{
  max-width:230px;
  max-height:240px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#classCodeMapOverlayContent div.classCodeMapOverlayEmphasisTag{
  color:#276e84;
}

#classCodeMapOverlayContent div.overlayGreyRectangleSkills {
    height: 20px;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
    background-color: #CCCCCC;
    color:#5D5D5D;
    margin:2px 0px;
    padding:0px 5px;
}
.classCodeContactUserInProfile {
    display: inline-block;
    background-color: #266D83;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 10px;
    background-image: url(../images/pictos/profil/mail.png);
    height: 22px;
    width: 30px;
}

#avatarTd{
  width:100px;
}

.facilitateur {
  background-color: #38AEF7;
  height: 30px;
  background-image: url(../images/pictos/profil/i-informatique.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
.facilitateur div {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 40px;
    line-height: 30px;
    width: 100%;
}
.profil div{
  font-size: 16px;
  font-weight: bold;
  color: #266D83;
}

.t5 .criteres {
	width: 29%;
	position: absolute;
  z-index:3;
}

.t5 .criteresGauche{
  height: 520px;
}

.t5 .criteres-item {
	margin-bottom: 2px;
	background-color:#5D5D5D;
}
.t5 .first{
  margin-top: 0px;
}
.t5 .last{
  margin-bottom: 0px;
}
.t5 .filterSelected{
  background-color:#27D0CD;
  margin-bottom: 0;
}

.t5 .criteres-item-title {
	padding: 10px 20px;
	color: white;
  line-height:25px;
}
.t5 .criteres-item-title a{
  color: white;
  text-decoration: none;
  display:block;
  cursor:pointer;
}

.t5 .criteres-item-list{
  position:relative;
  height:331px;
  
  background-color:white;  
  color:#5D5D5D;
  font-weight:bold;
  border-left:2px solid #27cfd0;
  border-right:1px solid #CCCCCC;  
  line-height: 20px;
}
.t5 .criteres_item-list-last{
  border-bottom:2px solid #27cfd0;
  height:327px;
}
.t5 .overflowScroll{
  overflow-y: scroll;
  height:336px;
}

.t5 .criteres-item-list ul{
  list-style-type: none;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}
.t5 .criteres-item-list li{
  padding:5px 0px 5px 40px;
}
.t5 .criteres-item-list li a{
  text-decoration:none;
  color:#5D5D5D;
}
.t5 .criteres-item-list li.selected{
  background-color:#CCCCCC;
}
.t5 .criteres-item-list-footer{
  height:20px;
  width:100%;
  background-color:#F4F4F4;
  position:sticky;
  bottom:0px;
  opacity: 0.5;
}
.t5 #meetingSearchForm,
.t5 #userSearchForm{
  padding-left: 10px;
}

.t5 .criteres-item-list h3, .t5 .criteres-item-list .h3 {
  color: #5D5D5D;
  margin-bottom: 0;
  margin-top: 5px;  
  font-weight:bold;
  font-size: 16px;
  Text-Transform:none;
}
.t5 .criteres-groupe-1,
.t5 .criteres-groupe-2{
  line-height:0px;
}
.t5  .meetingFormSelect{
  width:98%;
  background-color:#CCCCCC;
  color:#5D5D5D;
  font-size:16px;
  margin-top: 5px;  
  padding:1px 5px;
  border:none;
  height: 25px;
}
.t5 a.mapSearch,
.t5 a.createMeetingLink,
.t5 a.mapMenuLink{
  width:96%;
  background-color:#27CFD0;
  color:white;
  text-decoration:none;
  display:block;
  padding: 5px 0px 5px 5px;
  margin-top:10px;
  text-align: left;
  font-weight: bold;
  cursor:pointer;
}
.t5 a.createMeetingLink,
.t5 a.mapMenuLink{
  background-color:#CCCCCC;
  margin-top:5px;
}
.t5 a.mapMenuLink{
  margin-left:2%;
}
#meetingStructure{
  width:96%;
  background-color:#CCCCCC;
  font-size:16px;
  margin-top: 5px; 
  color:white;
  padding-left:5px;
  border:none;
  height:25px;
}
#meetingStructure::placeholder{
  opacity:0.8;
}
@media (max-width:1100px) {
	
	.t5 {
		height: inherit;
	}
	.t5 .carte,
  .t5 #classCodeMeetingList  {
		position: inherit;
		width: 100%;
    margin-left:0px;
	}
	
	.t5 .criteres {
		position: inherit;
    width:100%;
	}
  
	.t5 .criteres-groupe-1,
	.t5 .criteres-groupe-2 {
		margin-left:0;
		width: 100%;
		float: left;
	}
  .t5 .content-footer .mapFooter,
  .t5 .content-footer .mapSearch{
    width:50%;
    margin-left:0;
  }
  .t5 .content-footer .mapSearch{
    margin-left:50%;
  }
  
  .t5 .criteresGauche{
	  margin-left:0;
    height: auto;
  }
	
	.t5 .content-footer .rechercher {
		margin-left:0;
	}
  .t5 .first{
    margin-right: 2px;
  }
  .t5 .second{
    margin-right: 2px;
  }
  .t5 .third{
    margin-top: 0px;
  }
 
  #classCodeMapOverlay {
    margin-left: 0px;
 }
}



/* ACCUEIL - TEMOIGNAGES  */

.t6 {
	margin:20px 0 0 0;
	white-space: nowrap;
}

.t6 .content-category-title {
	margin: 20px 20px 0 20px;
}

.t6 .card {
	width:calc(16.6666% - 8px); /* 16.6666% = 1/6 images - 6 margin-right - 1 * 2 border */
	display: inline-block;
	vertical-align: top;
	margin-right:6px;
	border: black 1px solid;
	
}

.t6 .card-width {
	width:calc(16.6666% - 8px); /* 16.6666% = 1/6 images - 6 margin-right - 1 * 2 border */
}

@media (max-width:1100px) {
	.t6 .card-width {
		width:calc(20% - 8px); /* 20% = 1/5 images - 6 margin-right - 1 * 2 border */
	}
}

@media (max-width:800px) {
	.t6 .card-width {
		width:calc(25% - 8px);
	}
}

@media (max-width:640px) {
	.t6 .card-width {
		width:calc(33.3333% - 8px);
	}
}


.t6 .card .card-thumbnail {
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	width: 100%;
	height: 0;
	padding-bottom: 59%; /* = 118 / 200 */
}

.t6 .card .youtube-play-btn {
	background-repeat: no-repeat;
	background-image:url(../images/youtube-play-btn-bw.png);
	background-position: center;
	background-size: 25%;
	height: 100%;
	position: absolute;
	top: 0;
}

.t6 .card .youtube-play-btn p.module-video {
	padding:0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.t6 .card .youtube-play-btn a.module-video::before {
    content: none;
    width: 35px;
    height: 25px;
}

.t6 .card .youtube-play-btn a {
	display: block;
	width: 100%;
	height: 100%;
}


/* ACCUEIL : TWITTER, BLOG, AIDE */


.t7 {
	margin-top: 30px;
}

.t7 .content-category-title {
	/* margin-left: 20px; */
}

.t7 > div.t7_col {
	float:left;
	height: 451px;
}

.t7_1 {
	margin:0 20px;
	width: 380px;
}

.t7-twitter-feed {
	margin-top: 20px;
	padding: 10px;
	height: 364px;
	border: 1px #27cfd0 solid;
	overflow:auto;
}

.t7-twitter-fallback { 
	text-align: center;
}

.t7_2 {
	width:calc(100% - 850px);
}

.t7-blog-entries {
	margin-top: 20px;
	height: 384px;
	width: 100%;
	overflow:auto;
	border: 1px #27cfd0 solid;
}

.t7-blog-entries article, .t7-blog-entries div, .t7-blog-entries p {
	font-size: 14px;
	line-height: 18px;
	font-weight: inherit;
}

.t7-blog-entries article {
	border-bottom: 1px #27cfd0 solid;
	padding: 10px;
}

.t7-blog-entries article.consulter_plus {
	padding-top: 20px;
	padding-bottom: 20px;
}

.t7-blog-entries article:last-child {
	border-bottom: none;
}

.t7-blog-entries .entry-summary {
	padding: 0 10px;
}

.t7-blog-entries img {
	max-width: 80px;
}

.t7-blog-entries p {
	text-align:left !important;
	margin-bottom: 5px;
}

.t7-blog-entries i {
	display: block;
}

.t7-blog-entries a {
}

.t7-blog-entries a:hover {
	color:#27cfd0;
	text-decoration: underline;
}

.t7-blog-entries h1, .t7-blog-entries h2, .t7-blog-entries h3 {
	margin-top: 0;
    font-size: 15px;
	font-weight: bold;
    text-transform: none;
}

.t7-blog-entries header {
	height: inherit;
	background-color: white;
}

.t7-blog-entries footer {
	display: none;
}

.t7-blog-entries header a, .t7-blog-entries header a:hover {
	color:black;
}


.t7_3 {
	width: 380px;
	margin-left:20px;
}

.t7-aide {
	margin:0;
	padding:0;
	margin-top: 20px;
}

.t7-aide li {
	border: 1px #27cfd0 solid;
	background-color:#27cfd0; 	
	list-style-type: none;
	margin:0 0 4px 0;
	padding:0;
}

.t7-aide li a {
	display: block;
	background-color: white;
	color:black;
	margin-left: 138px;
	padding-left:20px;
	
	height: 91px;
	line-height: 91px;
}

.t7-aide li:last-child a {
	height: 92px;
	line-height: 92px;
}

.t7-aide li a:hover {
	color:black;
	text-decoration: underline;
}


@media (max-width:1200px) {
	
	.t7_2 {
		width: calc(100% - 450px);
	}
	
	.t7_3 {
		width: calc(100% - 46px);
	}
	.t7 > div.t7_col.t7_3 {
		height:auto;
	}
}

@media (max-width:800px) {
	
	.t7_1 {
		width: calc(100% - 46px);
	}
	
	.t7_2 {
		width: calc(100% - 46px);
		margin-left:20px;
	}
	
	.t7 > div.t7_col.t7_3 {
		height:auto;
	}
}


/* ACCUEIL : PARTENAIRES */

.t8 {
	margin:20px 0 0 0;
	white-space: nowrap;
}

.t8 .content-category-title {
	margin: 20px 20px 0 20px;
}

.t8 .card {
	width:calc(16.6666% - 8px); /* 16.6666% = 1/6 images - 8 = margin-right 10 + 2 x border 1px */
	display: inline-block;
	vertical-align: top;
	margin-right:6px;
	border:black 1px solid;
}

.t8 p {
	margin: 0 20px;
	font-size: 14px;
}

.t8 p a {
	color:#49c4c2;
}

@media (max-width:1100px) {
	.t8 .card {
		width:calc(20% - 8px); /* 20% = 1/5 images - 8 = margin-right 10 + 2 x border 1px */
	}
}

@media (max-width:800px) {
	.t8 .card {
		width:calc(25% - 8px); /* 20% = 1/5 images - 8 = margin-right 10 + 2 x border 1px */
	}
}

@media (max-width:640px) {
	.t8 .card {
		width:calc(33.33333% - 8px); /* 20% = 1/5 images - 8 = margin-right 10 + 2 x border 1px */
	}
}

.t8 .card img {
	width: 100%;
}


/* ACCUEIL : FOOTER */

.t9 {
	font-size:14px;
	line-height: 18px;
	margin:20px;
	color: black;
}

footer {
	min-height: 259px;
	margin-top: 20px;
	padding:10px 20px;
	background-color: #5e5e5e;
}

footer .footer-column {
	float: left;
	color: black;
	margin-left:40px;
	margin-bottom: 20px;
}

footer .footer-column-title {
	font-weight: bold;
	font-size:12px;
	color:#c9c9c9;
}

footer .footer-column ul {
	margin:0;
	padding: 0;
}

footer .footer-column li {
	margin:0;
	padding: 0;
	list-style-type: none;
	font-size:12px;
	color:#9a9a9a;
	margin-top: 5px;
}

footer .footer-column a {
	color: black;
	color:#c9c9c9;
}

footer .footer-column a:hover {
	text-decoration: underline;
}



/* À LA CARTE - LES PARCOURS */

.classcode-v2 {
	padding: 20px;
}

.classcode-v2 h1 {
	text-transform: uppercase;
	font-size:30px;
	line-height: 35px;
	color: #616161;
}

.classcode-v2 .page-header {
	margin-top: 12px;
}

.classcode-v2 .page-header .page-header-columns {
	color: #616161;
	width: 100%;
}

.classcode-v2 .page-header .page-header-column {
	float: left;
	color: black;
	margin-left:10px; 
	border:solid 1px #5fb5b6;
	width: calc( 25% - 10px );
}

.classcode-v2 .page-header .page-header-column.objectifs-module,
.classcode-v2 .page-header .page-header-column.parcours {
	margin-left:0; 
	width: 49%;
}

.classcode-v2 .page-header .page-header-column.attestation {
	background-color: #27cfd0;
}


.classcode-v2 .page-header .page-header-column-title {
	background-color: #cfcad0;
	padding: 15px 26px 15px 26px;
	font-weight: bold;
	font-size:12px;
	color: #5e5e5e;
}

.classcode-v2 .page-header .page-header-column-content.no-padding {
	padding:0;
	margin:0;
}

.classcode-v2 .page-header .page-header-column-content {
	padding:10px 39px 10px 19px;
	margin:0;
	min-height: 175px;
}

.classcode-v2 .page-header .page-header-column ul {
	padding: 0;
	margin:0;
}

.classcode-v2 .page-header .page-header-column li {
	margin:0;
	padding: 0;
	list-style-type: none;
	font-size:12px;
	line-height:24px;
}

.classcode-v2 .content-wp,
.classcode-v2 .content-wp p,
.classcode-v2 .content-wp div {
	font-size: 14px;
	line-height: 18px;
}

.classcode-v2 .content-wp {
	margin:20px 0 50px 0;
}

.classcode-v2 .content-wp p,
.classcode-v2 .content-wp > div {
	margin:15px 0 15px 0;
}

.classcode-v2 .content-wp iframe {
	margin:15px 0 15px 0;
}

.classcode-v2 .content-wp .classcode-v2-post-banner {
	margin:-40px -20px 20px -20px;
}

.classcode-v2 .content-wp.blog-post .classcode-v2-post-banner img {
	padding: 0;
	margin: 0;
	width: 100%;
}


/* COORDINATIONS */

.classcode-v2-coordinations-header-image {
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width: 100%;
}

.classcode-v2.content-category.coordinations .page-header-column {
	width: calc( 25% - 10px );
	margin-right: 10px;
	margin-left: 0px;
}

.classcode-v2.content-category.coordinations .page-header-column:nth-child(4) {
	margin-right: 0px;
}

.classcode-v2.content-category.coordinations .page-header-column.description-coordination .logo {	
}

.classcode-v2.content-category.coordinations .page-header-column.description-coordination .page-header-column-content {
	padding:10px 20px 10px 10px;
}

.classcode-v2.content-category.coordinations .page-header-column.description-coordination .titre-contact {	
	color:#cccccc;
	font-size: 16px;
}

.classcode-v2.content-category.coordinations .page-header-column.description-coordination .nom-contact {	
	color:#686868;
	font-size: 18px;
	margin: 5px 0;
}

.classcode-v2.content-category.coordinations .page-header-column.description-coordination .bouton-contact {	
	color:white;
	background-color: #27cfd0;
	padding: 8px 5px;
	font-size: 15px;
	width: 100%;
	display: inline-block;
}

.classcode-v2.content-category.coordinations .page-header-column.description-coordination .infos {	
	margin: 10px 0;
}

.classcode-v2.content-category.coordinations .page-header-column.description-coordination .info {	
	font-size: 14px;
	line-height: 18px;
	color: #727272;
	margin: 10px 0;
}

.classcode-v2.content-category.coordinations .page-header-column.description-coordination .infos p.info {	
}

.classcode-v2.content-category.coordinations .page-header-column.rencontres .page-header-column-content {
	height: 85%;	
}

.classcode-v2.content-category.coordinations .page-header-column.rencontres .page-header-column-content a {
	width:100%;
	height: 100%;
}

.classcode-v2.content-category.coordinations .page-header-column.rencontres .page-header-column-bottom {
	width:100%;
}

.classcode-v2.content-category.coordinations .page-header-column.rencontres .page-header-column-bottom a,
.classcode-v2.content-category.coordinations .page-header-column.carte-rencontres .page-header-column-bottom a {
	width:100%;
	text-align:center;
	line-height:30px;
	font-size:15px;
	font-weight: bold;
	color:#5e5e5e;
	display: inline-block;
	margin-top:7px;	
}

.classcode-v2.content-category.coordinations .page-header-column.carte-rencontres .page-header-column-content {
	height: 85%;
}

.classcode-v2.content-category.coordinations .page-header-column.carte-rencontres .page-header-column-content a {
	display: block;
	width:100%;
	height: 100%;
}

.classcode-v2.content-category.coordinations .page-header-column.carte-rencontres .page-header-column-bottom a {
	width:100%;
}

.classcode-v2.content-category.coordinations .page-header-column.newsletter {
	background-color: #27cfd0;
}

.classcode-v2.content-category.coordinations .page-header-column.newsletter a {
	color: white;
	font-size:15px;
	font-style: italic;
	text-align: center;
	display: inline-block;
	padding: 10px;
}

.classcode-v2.content-category.coordinations h2 {
  color:#5D5D5D;
  padding-bottom:5px;
  margin: 40px 0 20px 0;
  border-bottom: 2px solid #27CFD0;
}



/* À LA CARTE */


.ressources-a-la-carte .search .page-header-column li.sous-theme {
	padding-left:20px;
}

.ressources-a-la-carte .search .search-nb-results,
.ressources-a-la-carte .search .nb-resultats {
	color:#74b9b4;
}

.ressources-a-la-carte .search .search-results-container {
	margin: 20px 0;
}

.ressources-a-la-carte .search .search-results {
	margin: 20px 0;
	padding: 0;
}

.ressources-a-la-carte .search .search-results li {
	list-style-type: none;
	width: 100%;
	border-top: #6bb4ad solid 1px;
	border-bottom: #6bb4ad solid 1px;
	margin-bottom: 10px;
}

.ressources-a-la-carte .search .search-results li .post-image {
	width: 98px;
	height: 68px;
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;	
}

.ressources-a-la-carte .search .search-results li .post-image a {
	display: block;
	width: 100%;
	height: 100%;
}


.ressources-a-la-carte .search .search-results li .post-text-categories {
	font-size: 12px;
	padding: 10px 0 4px 0;
}

.ressources-a-la-carte .search .search-results li .post-text-categories .parcours {
	text-transform: uppercase;
}

.page-parcours .page-parcours-grains li  .post-text-categories .ressources a,
.page-parcours .page-parcours-grains li  .post-text-categories .thematiques a,
.page-parcours .page-parcours-grains li  .post-text-categories .parcours a,
.ressources-a-la-carte .search .search-results li .post-text-categories .ressources a,
.ressources-a-la-carte .search .search-results li .post-text-categories .thematiques a,
.ressources-a-la-carte .search .search-results li .post-text-categories .parcours a {
	color: black;
}

.ressources-a-la-carte .search .search-results li .post-text-content {
	font-size: 16px;
}

.ressources-a-la-carte .search .search-results li .post-content {
	width: calc( 100% - 120px);
	margin-left: 120px;
}

.ressources-a-la-carte .search .search-results li .post-content a {
	color: #49c4c2;
}

.ressources-a-la-carte .search .search-results li .post-content a:hover {
	color: #6bb4ad;
	text-decoration: underline;
}

.ressources-a-la-carte .search .search-pagination {
	width: 100%;
	text-align: center;
}

.ressources-a-la-carte .search .search-pagination .query-voir-plus a,
.ressources-a-la-carte .search .search-pagination .query-voir-plus a:hover
{
	display: inline-block;
	width: 100%;
	background-color: #CCCCCC;
	color: white;
	padding: 5px;
}


/* PAGE PARCOURS */


.page-parcours {
	margin: 20px 20px 20px 0;
}

.page-parcours li {
	font-size: 16px;
}

.page-parcours h2.module-partie {
  color:#5D5D5D;
  padding-bottom:5px;
  margin: 40px 0 20px 0;
  border-bottom: 2px solid #27CFD0;
  background-color: transparent;
  background-image: url(../images/arrow-toogle-opened.png);
  background-position:99%;
  background-repeat: no-repeat;
  
}

.page-parcours div.module-lien-cours > a {
	width:96.15%;
}

.page-parcours h2.module-partie.closed {
  background-image: url(../images/arrow-toogle-closed.png);
}

.page-parcours ul.module-partie {
	background-color: white;
	padding-right:20px;
}

.page-parcours ul.module-partie li {
	list-style-type: none;
	width: 100%;
	border-top: #30d4c9 solid 1px;
	border-bottom: #30d4c9 solid 1px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.page-parcours ul.module-partie li a {
	color:black;
}

.page-parcours ul.module-partie li a:hover {
	color:#27CFD0;
}

.page-parcours ul.module-partie li a.module-video {
    vertical-align: middle;
    margin-left: 5px;
    background-image: url("../../../../themes/pixees-theme/_img/classcode_pictos/classcode_ecrans/img-21.png");
    background-repeat: no-repeat;
    padding-left: 25px;
	padding-top: 2px;
}


.page-parcours a.module-video:before { 
	content: none;
  width:35px; 
  height:25px; 
}

.page-parcours .module-lien-rencontre {
  margin: 20px 0;
}

.page-parcours .page-parcours-grains {
	margin: 20px 0;
	padding: 0;
}

.page-parcours .page-parcours-grains li {
	list-style-type: none;
	width: 100%;
	border-top: #6bb4ad solid 1px;
	border-bottom: #6bb4ad solid 1px;
	margin-bottom: 10px;
}

.page-parcours .page-parcours-grains li .post-image {
	width: 98px;
	height: 68px;
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;	
}

.page-parcours .page-parcours-grains li .post-image  a {
	display: block;
	width: 100%;
	height: 100%;
}

.page-parcours .page-parcours-grains li .post-text-categories {
	font-size: 15px;
	padding: 10px 0 4px 0;
}

.page-parcours .page-parcours-grains li .post-text-categories .parcours {
	text-transform: uppercase;
}

.page-parcours .page-parcours-grains li .post-text-content {
	font-size: 18px;
}

.page-parcours .page-parcours-grains li .post-content {
	width: calc( 100% - 120px);
	margin-left: 120px;
}

.page-parcours .page-parcours-grains li .post-content a {
	color: #49c4c2;
}

.page-parcours .page-parcours-grains li .post-content a:hover {
	color: #6bb4ad;
	text-decoration: underline;
}

.haut-de-page {
	position: fixed;
	right:0;
	top: 0;
	background-color: #27cfd0;
	color: white;
	padding: 20px 10px;
}


/* PAGE PROJET */


.classcode-v2.page-credits .credits,
.classcode-v2.page-credits .credits div,
.classcode-v2.page-projet .partenaires,
.classcode-v2.page-projet .partenaires div {
	font-size: 14px;
	line-height: 18px;
	color: black;
}

.classcode-v2.page-credits .credits > div {
	margin-bottom: 10px;
}

.classcode-v2.page-credits .credits,
.classcode-v2.page-projet .partenaires {
	margin: 20px 0;
}



.classcode-v2.page-projet .partenaires .card {
	float: left;
}


/* PAGE POST */

.classcode-v2 .content-wp  {
	color: black;
}

.classcode-v2 .content-wp.blog-post  {
}

.classcode-v2 .content-wp.blog-post td,
.classcode-v2 .content-wp.blog-post p{
	font-size: 14px;
	line-height: 18px;
}
.classcode-v2 .content-wp li{
	font-size: 14px;
	line-height: 36px;
}
.classcode-v2 .content-wp ul {
    margin: 5px 0px;
}

.classcode-v2 .content-wp.blog-post p {
	margin-bottom: 5px;
}

.classcode-v2 .content-wp.blog-post iframe {
	margin: 20px 10px;
}

.classcode-v2 .content-wp.blog-post td:nth-child(1) {
    min-width: 50%;
    vertical-align: top;
    padding: 0 10px 20px 0;
}

.classcode-v2 .content-wp.blog-post img {
	margin: 20px 10px;
}

.classcode-v2 .content-wp.blog-post .liens-exterieurs-article {
	margin: 0;
	position: absolute;
	right:20px;
	font-size: 12px;
}

.classcode-v2 .content-wp.blog-post .tag a {
	font-size: 12px;
}

.classcode-v2 .content-wp.blog-post a {
	color:#27cfd0;
}

.classcode-v2 .content-wp.blog-post .liens-exterieurs-article .lien a {
}


/* Tableau de planning */
table.planning{
  text-align: center;
}
table.planning{
  border: 1px solid black;
  border-collapse: collapse;
}
.planning th,td{
  border: 1px solid black;
  padding: 5px;
}
.planning th{
  color:white;
  background-color:#266D83;
  font-weight:bold;
}

/* PAGE PARCOURS */

.classcode-v2-header-video {
	background-color: black;
}

.classcode-v2 ul.module-objectifs  {
	background-color: transparent;
}

.classcode-v2 ul.module-objectifs > li::before {
    content: "";
}

.classcode-v2 ul.module-objectifs > li {
}

.classcode-v2 .page-header-column.rencontres .page-header-column-content {
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height: 100%;
}

.classcode-v2 .page-header-column.rencontres .page-header-column-content a {
	display: block;
	width:100%;
	height: 100%;
}

.classcode-v2 .page-header-column.attestation .page-header-column-content {
	width:100%;
	height: 100%;
}

.classcode-v2 .page-header-column.attestation .page-header-column-content a {
	display:block;
	width:100%;
	height: 100%;
	color:white;
	text-align: center;
}


/* PAGE FAQ */

ul.faq-questions { 
  list-style: none; 
  width:100%;
  margin:0px;
  padding:0px 10px 0px 0px;
  line-height:35px;
}
ul.faq-questions > li { 
 color: black;
 border:2px solid #27CFD0;
 display: block;
 margin-bottom:10px;
 position: relative;
}

ul.faq-questions > li:hover { 
  background-color:#EEE;
}
ul.faq-questions > li a {
 display: inline-block;
 margin-left:5px;
 padding-left: 43px !important;
 line-height: 35px;
 position: absolute;
 z-index:2;	
}
li a.faq-question-mail { 	
  background:url("../images/faq/i-aide-mail.png");
  background-size: 30px 25px;
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left:35px !important;
} 
li a.faq-question-page { 
  background:url("../images/faq/i-aide-page.png");
  background-size: 30px 25px;
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left:35px !important;
} 
li a.faq-question-text { 
  background:url("../images/faq/i-aide-text.png");
  background-size: 30px 25px;
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding-left:35px !important;
} 
li span.faq-question-no { 
  border: #27CFD0 solid 8px;
  display: inline-block;
  width: 26px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  color:white;
  position: absolute;
  z-index: 1;
}
li span.faq-question-arrow { 
	background-color: #EEEEEE;
	display: inline-block;
	width:35px;
	text-align: center;
	color:white;
	cursor: pointer;
}

ul.faq-questions .faq-reponse,
ul.faq-questions .faq-reponse p { 
	font-size:14px;
	line-height: 18px;
}

ul.faq-questions .faq-reponse h2 { 
	font-size:18px;
	line-height: 20px;
	border-bottom: 2px solid #27CFD0;
	padding-bottom: 5px;
}

ul.faq-questions .faq-reponse h3 { 
	line-height: 20px;
	text-transform: none;
}

ul.faq-questions .faq-reponse { 
	margin-bottom: 15px;
	display: none;
	padding:2px 0 10px 0;
}

ul.faq-questions .faq-reponse.active { 
	display: block;
}

.contacts { 
  margin: 20px 0px 20px 0px;
  color : #323232;
}

.contacts-mailer { 
  margin: 10px 0px 0px 0px;
}

.contacts-mailer .logo-class-code { 
    width: 100%;
	max-width: 900px;
}

.contacts-mailer .logo-class-code img { 
	float: right;
	margin:10px 0 30px;
}

.contacts-mailer table {
	border:1px solid #27CFD0;
	padding: 10px;
    width: 100%;
	max-width: 900px;
}

.contacts-mailer table tr td:nth-child(1) {
    width: 100px;
}

.contacts-mailer table label {
	font-size: 14px;
	width:100%;
	text-align: right;
}

.contacts-mailer table select {
	width:35%;
}

.contacts-mailer table input[type=text] {
	width:62.5%;
}

.contacts-mailer table input[type=text].full-width {
	width:98%;
}


.contacts-mailer table textarea {
	width:99%;
}

.classcode-v2 .content-wp .contacts-mailer p {
	margin-bottom: 0;
}

.contacts-mailer .sendmail {
	background-color:#27CFD0;
	padding: 5px;
	color: white;
	font-size:14px;
	text-transform: uppercase;
}

@media (max-width:800px) {
	
	.contacts-mailer table select {
		width:99.5%;
		margin-bottom: 2px;
	}

	.contacts-mailer table input[type=text] {
		width:98%;
	}
	
}




/* CREER RENCONTRE - Profil*/

#meetingflashMessage,
#profileflashMessage{
  padding: 20px;
  margin:10px 20px 0px 20px;
  background-color:#27CFD0;
  color:white;
}
#profileflashMessage.error{
  background-color:red;
}
.meeting{
  padding: 20px;
  height: 580px;
}
.userprofil{
  padding: 20px;
}
.meeting .content-category-title,
.userprofil .content-category-title   {
    color: #5D5D5D;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid #27CFD0;
}
.userprofil .content-category-title{
  background-color: transparent;
  background-image: url(../images/arrow-toogle-opened.png);
  background-position: 99%;
  background-repeat: no-repeat;
}

.userprofil .content-category-title.closed{
  background-image: url(../images/arrow-toogle-closed.png);
}

.meeting span.minimize,
.userprofil span.minimize {
  font-size: 16px;
  font-weight: normal;
}

.meeting .content-header {
  
}

.meeting .carte-parent,
.userprofil .carte-parent {
	width: 100%;
	position: relative;
}

.meeting .carte,
.userprofil .carte  {
	position: absolute;
	width: 70%;
	height: 520px;
  z-index:2;
  margin-left:30%;
}
.meeting .criteres,
.userprofil .criteres  {
    width: 29%;
    position: absolute;
    z-index: 3;
}
.meeting .criteresGauche,
.userprofil .criteresGauche  {
    height: 520px;
}

.meeting .criteres-groupe-1, .meeting .criteres-groupe-2 ,
.userprofil .criteres-groupe-1, .meeting .criteres-groupe-2 {
    line-height: 0px;
}
.meeting .first,
.userprofil .first  {
    margin-top: 0px;
}
.meeting .criteres-item ,
.userprofil .criteres-item {
    margin-bottom: 2px;
    background-color: #5D5D5D;
}
.meeting .filterSelected {
    background-color: #27D0CD;
    margin-bottom: 0;
}
.meeting .visualize{
  margin-bottom: 3px;
}
.meeting .criteres-item-title {
    padding: 10px 20px;
    color: white;
    line-height: 25px;
}
.meeting .criteres-item-title a {
    color: white;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.meetingbloc,
.profilbloc{
  width: 23.3%;
  margin-right:1%;
  margin-left:1%;
  border:1px solid #CCCCCC;
  height:520px;
  float:left;
  margin-bottom:20px;
}
.profilbloc{
  margin-right:0.5%;
  margin-left:0.5%;
}
.meeting .criteres-item-list,
.userprofil .criteres-item-list  {
    position: relative;
    height: 378px;
    background-color: white;
    color: #5D5D5D;
    border-left: 2px solid #27cfd0;
    border-right: 1px solid #CCCCCC;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.meeting .criteres_item-list-last,
.userprofil .criteres_item-list-last  {
    border-bottom: 2px solid #27cfd0;
    height: 374px;
}

.meeting .criteres_item-list-uniq,
.userprofil .criteres_item-list-uniq {
    border-bottom: 2px solid #27cfd0;
    height: 470px;
}

.meetingblocfirst,
.profilblocfirst{
  margin-left:0px;
}

.meetingblocfourth{
  margin-right:0px;
}

.profilblocthird{
  margin-right:0px;
  width: 49.5%;
  border: none;
  margin-left: 0%;
}
#profilheader p{
  color:#5D5D5D;
  padding: 20px;
  padding-bottom:0px;
  font-size:14px;
}
#profileFirstRow{
  height:410px;
}
#profilePrimaryFields,
#profileAvatar,
#profileLoc,
#profileLoc #userMap{
  height:350px;
}
#profileLoc{
  border: 1px solid #CCCCCC;
  width:49%;
}
#mapPosBox{
  position: relative;
}
#profileLoc #your-location-section {
  display: none;
}
#profilblocLocInner{
  width:50%;
  color: #5D5D5D;
}
#profilbloctitleLoc{
  display: block;
  background-color: #CCCCCC;
  padding: 10px 20px;
  line-height: 25px;
}
#profilblocLocContent{
  font-size:14px;
  padding:5px;
}
#gmw-your-location-wrapper form{
  display:block;
  border:none;
  background:none;
  margin-top: 0px;
  width:48%;
}
#gmw-your-location-wrapper form #gmw-yl-manuall-section .field-title,
#gmw-your-location-wrapper form .gmw-yl-tab-wrapper,
#gmw-yl-tabs,
#gmw-your-location-wrapper #gmw-yl-map-title{
  display:none;
}
#gmw-yl-autocomplete{ 
  min-height:35px;
}
.profilbloc input#gmw-yl-get-latlng{
  display: block;
  background-color: #27CFD0;
  color: white;
  margin-bottom: 10px;
  padding: 8px 8px;
  cursor: pointer;
  width: calc(100% - 10px);
  font-size: 18px;
  height:auto;
}
.profilbloc input#gmw-yl-locator-btn{
  width:auto;
  border:none;
  color:#266D83;
  margin-top:0px;
  padding:0px;
}
.profilbloc input#gmw-yl-locator-btn:hover{
  background:none;
  color:#CCCCCC;
}

#profileLoc{
  position: absolute;
  top: 68px;
  left: 49.6%;
  margin-right:1%;
}
#profileLoc #gmw-your-location-wrapper form .map-wrapper{
  margin-top:0px;
}
#profileLoc #gmw-your-location-wrapper form .gmw-yl-tab-wrapper{
  border:none;
  margin-bottom: 0px;
}
#profileLoc #userMap{
  width:50%;
  position: absolute;
  top: 0px;
  right: 0px;
}
.profilblocfirst{
  min-width:276px;
}
.profilblocsecond{
  min-width:230px;
}
a.profileAditionnalLinkParent,
a.profileAttestationLinkParent{
  color:white;
}
a.profileAditionnalLinkParent{
  font-size: 16px;
  font-weight:bold;
}
a.profileAditionnalLinkParent:hover,
a.profileAttestationLinkParent:hover{
  text-decoration:underline;
}
.profileAditionnalLink{
  padding: 5px;
  margin-bottom:8px;
  background-color: #27CFD0;
  min-height:158px;
  display: inline-block;
  color:white;
}
.profileAditionnalLinkContent,
.profileAditionnalLinkTitle{
  margin-left:260px;
  margin-right:10px;
}
.profileAditionnalLinkTitle{
  font-weight:bold;
  font-size: 20px;
}
.profileAditionnalLinkContent{
  font-size:16px;
}
.profileAditionnalLinkFirst{

}
.profileAditionnalLinkSecond{

}
.profileAditionnalLinkThird{
  margin-bottom:0px;
}
.profileAditionnalLinkFirst .profileAditionnalLinkVideo{
  background-image: url(../images/youtube-play-btn-bw.png),url(https://img.youtube.com/vi/QGMbeVyfqWU/hqdefault.jpg); 
}
.profileAditionnalLinkSecond .profileAditionnalLinkVideo{
  background-image: url(../images/youtube-play-btn-bw.png),url(https://img.youtube.com/vi/bIBw1HCn6rA/hqdefault.jpg); 
}
.profileAditionnalLinkThird .profileAditionnalLinkVideo{
  background-image: url(../images/youtube-play-btn-bw.png),url(https://img.youtube.com/vi/04vZ-MIlFRo/hqdefault.jpg); 
}
.profileAditionnalLinkVideo{
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-size: 25%,100%;
  width: 240px;
  height: 160px;
  float:left;
}
.profileAditionnalLinkVideo .module-video {
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#profileMonAttestation,#profileMonActivite{
  height:300px;
}
#profileMonActivite{
  width:62%;
}
#profileMonActivite li{
  list-style-type:none;
}
#profileAttestationLink{
  height:50px;
}
.profilAttestationbloc{
  border:none;
  margin:0;
  width:35%;
}
#profileAttestationLink{
  padding: 230px 15px 20px 15px;
  margin-bottom:8px;
  background-color: #27CFD0;
  background-image: url(../images/pictos/profil/bouclier.png),url(../images/pictos/profil/telechargement.png);
  background-repeat:no-repeat;
  background-position: 50% 30px,50% 150px;
  text-align:center;
}

.meetingbloctitle,
.profilbloctitle{
  display:block;
  background-color:#CCCCCC;
  color:#5D5D5D;
  padding: 10px 20px;
  line-height: 25px;
}
.profilblocFooter{
  display:block;
  background-color:#CCCCCC;
  color:#5D5D5D;
  padding: 10px 0px;
  line-height: 25px;
  font-size:18px;
  text-align:center;
}
.meetingbloccontent,
.profilbloccontent{
  padding-left: 10px;
  width:90%;
  font-size: 14px;
}
.profilblocAdditionnalContent{
  width:235px;
  height: 242px;
  font-size:0px;
  float: left;
  margin-bottom: 20px;
  margin-right: 0.2%;
  margin-left: 0.2%;
}
.profilblocAdditionnalContentFive{
  overflow: auto;
  border: 1px #27cfd0 solid;
}

.meeting  .criteres-item-list div{
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.meetingbloccontent h3,
.profilbloccontent h3,
.meeting .criteres-item-list h3{
  color:#5D5D5D;
  margin-top:5px;
  margin-bottom:0px;  
}
.meetingbloccontent p,
.profilbloccontent p,
.meeting .criteres-item-list p{
  margin-top:3px;
  margin-bottom:3px;
  font-size:12px;
}
.meetingbloccontent p.meetingInfos,
.profilbloccontent p.profilInfos{
  margin-left:10px;
}
.meetingbloccontent p a,
.profilbloccontent p a,
.meeting .criteres-item-list p a{
  color: #27CFD0;
  font-weight:bold;
}

.meetingbloccontent a.meetingButton,
.profilbloccontent a.profilButton,
.meeting .criteres-item-list a.meetingButton{
  display:block;
  background-color:#27CFD0;
  color:white;
  margin-bottom:10px;
  padding:8px 8px;
  cursor:pointer;
  width:calc(100% - 10px);
  font-size: 18px;
}

.profilbloccontent a.profilButton{
  margin-top:5px;
}

.meeting .criteres-item-list a.meetingButton{
  width:calc(100% - 20px);
}

.meeting .criteres-item-list div.classCodeMapOverlayEmphasisTag{
  color:#276e84;
}

.meetingbloccontent div.classCodeMapOverlayContentLogo,
.profilbloccontent div.classCodeMapOverlayContentLogo {
  max-width:230px;
  max-height:240px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.meeting .criteres-item-list  div.overlayGreyRectangleSkills {
    height: 20px;
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
    background-color: #CCCCCC;
    color:#5D5D5D;
    margin:2px 0px;
    padding:0px 5px;
}

.meetingbloc input,
.meeting .criteres-item-list input,
.meetingbloc .ui-widget input,
.meetingbloc a.input,
.meetingbloc select,
.profilbloc input{
  font-size: 14px;
  margin-top: 5px;
  padding-left: 5px;
  height: 25px;
  width: 100%;
  color: #5D5D5D;
}
.profilbloc input[type="radio"],
.profilbloc input[type="checkbox"]{
  width:auto;
  margin-left:0px;
  margin-top: -1px;
  vertical-align: middle;
}
.profilbloc input::placeholder,
.profilbloc textarea::placeholder{
  font-style: italic;
}
.profilbloc textarea{
  width:100%;
  margin-top:10px;
  padding-left:5px;
}
  
.profilbloc label{
  color: #5D5D5D;
  font-size: 14px;  
}
.profilbloc label  a{
  color: #27CFD0;
  font-weight: bold;  
}
.meeting .criteres-item-list input{
  width:calc(100% - 12px);
  margin-bottom:10px;
}
.meetingbloc select{
  width:calc(100% + 8px);
}
.meetingbloc input.firstInline,
.profilbloc input.firstInline{
  width:60%;
  float:left;
}
.meetingbloc input.secondInline,
.profilbloc input.secondInline{
  width:30%;
  float:right;
  margin-right:-8px;
}

.meetingbloc a.input{
  border:0.5px solid #ABADB3;
  display: block;
  padding-top:10px;
  padding-left:6px;
  font-style:italic;
  background-color:#CCCCCC;
}

#classCodeMapOverlayContent div.meetingOrganizer{
  display:block;
  background-color:#27CFD0;
  color:white;
  font-size:20px;
  padding:4px;
  margin-left:0px;
  margin-right:1%;
  text-align:center;
}

.ui-datepicker { 
  z-index: 9999 !important; 
}

textarea#meeting_more{
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  width: 100%;
  height:100px;
  margin-top: 5px;
  padding-left: 5px;
}

textarea#meeting_precisions{
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  width: 100%;
  height:200px;
  margin-top: 5px;
  padding-left: 5px;
  margin-bottom:10px;
}
.greyRectangleSkills {
  height: 20px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  background-color: #CCCCCC;
  color: #5D5D5D;
  margin: 2px 0px;
  padding: 2px 5px 0px 5px;
  font-size: 14px;
}
.greyRectangleSkills a{
  color: #5D5D5D;
}

#profilemodal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  margin: auto;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#profilemodal-content{
  float:none;
  background-color:white;
  margin:auto;
  width: 40%;
  min-width:300px;
  height: 400px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: #5D5D5D;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
#profilemodal .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#profilemodal .close:hover,
#profilemodal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width:1145px) {
  #profileFirstRow{
    height:820px;
  }
  #profileLoc {
    top: 478px;
    left: 20px;
    width:95%;
  }
  .profilblocthird{
    width:100%;
  }
  .profilblocfirst,
  .profilblocsecond{
    width:48.5%;
  }
}
@media (max-width:610px) {
  #profileFirstRow{
    height:1640px;
  }
  #profileLoc {
    top: 888px;
    left: 20px;
    width:95%;
  }
  #profileLoc #userMap{
    width:100%;
    position: absolute;
    top: 410px;
    left: 0px;
  }
  
  #profilblocLocInner,
  .profilblocthird,
  .profilblocfirst,
  .profilblocsecond,
  #profileMonActivite,
  .profilAttestationbloc{
    width:100%;
  }
  .profileAditionnalLinkVideo{
    float:none;
  }
  .profileAditionnalLinkContent,
  .profileAditionnalLinkTitle{
    margin-left:10px;
  }
  .profilbloc{
    height:auto;
  }
}
@media (max-width:1100px) {
  
  .meeting {
		height: inherit;
	}
	.meeting .carte {
		position: inherit;
		width: 100%;
    margin-left:0px;
	}
	
	.meeting .criteres {
		position: inherit;
    width:100%;
	}
  
	.meeting .criteres-groupe-1,
	.meeting .criteres-groupe-2 {
		margin-left:0;
		width: 100%;
		float: left;
	}
  .meeting .content-footer .mapFooter,
  .meeting .content-footer .mapSearch{
    width:50%;
    margin-left:0;
  }
  .meeting .content-footer .mapSearch{
    margin-left:50%;
  }
  
  .meeting .criteresGauche{
	  margin-left:0;
    height: auto;
  }
	
	.meeting .content-footer .rechercher {
		margin-left:0;
	}
  .meeting .first{
    margin-right: 2px;
  }
  .meeting .second{
    margin-right: 2px;
  }
  .meeting .third{
    margin-top: 0px;
  }
  
  .meetingbloc{
    width:48.5%;   
  }

  .meetingblocfirst,
  .meetingblocthird{
    margin-right:1%;
    margin-left:0px;
  }

  .meetingblocsecond,
  .meetingblocfourth{
    margin-left:1%;
    margin-right:0px;
  }
}

@media (max-width:500px) {
  .meetingbloc{
    width:100%;   
  }

  .meetingblocfirst,
  .meetingblocsecond,
  .meetingblocthird,
  .meetingblocfourth{
    margin-right:0px;
    margin-left:0px;
  }
}

/* Ici les styles provisoires de l'affichage des parcours dits aussi modules */

h2.module-objectifs {
  background-color:#27CFD0;
  text-transform: uppercase;
  font-weight:bold;
  color:black;
  font-size:22px;
  height:25px;
  width:100%;
  padding:5px;
}
ul.module-objectifs { 
  background-color:#ECECEC; 
  list-style: none; 
  width:100%;
  margin:0px;
  padding:0 0 0 10px;
}
ul.module-objectifs > li:before {
  content: "> "; 
}
ul.module-objectifs > li {
  line-height:25px;
}
div.module-lien-cours { 
  background-color:#999999;
  width:100%;
  padding-right:10px;
  background-image:url("../../../../themes/pixees-theme/_img/classcode_pictos/classcode_ecrans/img-17.png");
  background-repeat:no-repeat;
  background-position: 5px 50%;
}
div.module-lien-cours > a { 
  display:block;
  color:white;
  line-height:25px;
  font-weight:bold;
  width:95%;
  padding: 8px 0px 8px 40px;
  margin-top : 25px;
  background-image:url("../../../../themes/pixees-theme/_img/classcode_pictos/classcode_ecrans/img-19.png");
  background-repeat: no-repeat;
  background-position: right;
}
div.module-lien-rencontre { 
  background-color:#999999;
  width:100%;
  padding-right:10px;
  background-image:url("../../../../themes/pixees-theme/_img/classcode_pictos/classcode_ecrans/img-18.png");
  background-repeat:no-repeat;
  background-position: 5px 50%;
}
div.module-lien-rencontre > a { 
  display:block;
  color:white;
  line-height:25px;
  font-weight:bold;
  width:95%;
  padding: 8px 0px 8px 40px;
  background-image:url("../../../../themes/pixees-theme/_img/classcode_pictos/classcode_ecrans/img-19.png");
  background-repeat: no-repeat;
  background-position: right;
}
div.module-lien-cours:hover { 
  background-color:#808080;
}
div.module-lien-rencontre:hover { 
  background-color:#808080;
}
h2.module-partie { 
  background-color:#266D83;
  text-transform: uppercase;
  font-weight:bold;
  color:white;
  font-size:20px;
  height:25px;
  width:100%;
  padding:5px;
  margin:0px;
}
ul.module-partie { 
  background-color:#ECECEC; 
  list-style: none; 
  width:100%;
  margin:0px;
  padding:0px 10px 0px 0px;
  line-height:35px;
}
ul.module-partie > li {
  padding-left:10px;
}
ul.module-partie > li > a { 
 color: black;
}
ul.module-partie > li:hover { 
  background-color:#FFF;
}
p.module-video { 
 padding-left:10px;
}
a.module-video:before { 
  content:url("../../../../themes/pixees-theme/_img/classcode_pictos/classcode_ecrans/img-21.png");
  width:35px; 
  height:25px; 
}
a.module-video { 
  padding-left:10px;
  display:inline-block; 
  height:25px; 
  font-size:14px;
}


/* Login */
body.login{
  width:640px;
  min-width:640px;
  height: auto;
  margin: 50px auto;
  color:#5D5D5D;
}
#login {
  width:auto;
  padding: 0 0 0;
}
#login a{
  text-decoration:none;
  color:#5D5D5D;
}
#login label,
.cptch_title{
  font-size:16px;
}
.cptch_span{
  font-weight:bold;
  color:#5D5D5D;
}
.cptch_span input{
  height:30px;
}
#login h1{
  display:none;
}
#login h2{
  color:black;
  margin-left:100px;
  margin-top:30px;
  margin-bottom:10px;
  font-size:20px;
}
#login .subtitle{
  margin-left:100px;
  margin-top:10px;
  margin-bottom:10px;
  font-size:16px;
}
#login .subtitle a{
  color:#266D83;
  font-weight:bold;
}
#loginLogo img{
  width: 100%;
}
#loginLogo {
  background-color:#26CFCF;
  width: 100%;
  color: black;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

body.login .button.wp-hide-pw{right: 10px; top: -60px; }
body.login form .forgetmenot { margin-left: 20px; }

#nav{
  display:none;
}

#loginFooter,
.login  .message,
.login #login_error{
  padding:20px 100px 20px 100px;
  text-align:left;
  font-size:16px;
}

#loginFooter,
.login  .message{
  color:#5D5D5D;
}

#loginFooter{
  font-style:italic;
  padding-top:10px
}

#loginFooter a{ 
  text-decoration:none;
  font-weight:bold;
  color:white;
}

#registerform, #loginform, #lostpasswordform, #loginformheader,#loginOOCheader{
  margin-top:0px;
  margin-left:100px;
  margin-right:100px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  border-style:solid;
  border-width: 2px;
  border-color: #26CFCF;
}
#loginformheader,#loginOOCheader{
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
}
#loginformheader{
  background-color:#26CFCF;
  color:white;
}
#loginOOCheader{
  color:#5D5D5D;
  background-color:#FFE152; /* jaune */
  border-color: #FFE152;
}
.loginheadersymbol{
  float:right;
  margin-right:20px;
}
#registerform, #loginform, #lostpasswordform{
  background-color:white;
  padding-bottom:10px;
}
#registerform br, #loginform br{
  display:none;
}

#registerform label, 
#loginform label, 
#lostpasswordform label{
  display:inline-block;
  height:40px;
  margin-bottom:5px;
  position:relative;
}

#loginform p.forgetmenot label{
  margin-left:20px;
  margin-top:20px;
  font-size: 16px;
  color:#5D5D5D;
}
.cptch_block{
  margin-left:20px;
}
.wmcaptcha_fieldbox_img {
  padding-left:300px;
}
.wmcaptcha_box {
  position:relative;
}
#registerform p.wmcaptcha_box input{
  top:0px;
}

body.login div#login form#loginform{
  width:auto;
}

#login form p#reg_passmail{
  font-size:15px;
  margin-bottom:10px;  
  margin-left:20px;
}
#registerform input#user_login,
#registerform input#user_email,
#loginform input#user_login,
#loginform input#user_pass,
#lostpasswordform input#user_login{
  width:400px;
  font-size:20px;
  position:relative;
  left: 20px;
  top:-15px;
  
}
#passwd_forgotten{
  position:absolute;
  top:35px;
  font-size:14px;
  width:180px;
  left: 280px;
}
.login form#loginform  .forgetmenot input#rememberme{
  top:8px;
  width:auto;
  left: 200px;
}
#login_error{
  font-weight:bold;
  color:red;
}
.login .button-primary, .login form .forgetmenot {
  float:none;
}
#login form p.submit {
  display:block;
  text-align:center;
}
#registerform input#wp-submit, #loginform input#wp-submit, #resetpassform input#wp-submit, #lostpasswordform input#wp-submit{
  border:none;
  border-radius:0px;
  background-color:#26CFCF;
  margin:5px 0 3px 0;
  line-height:10px;
  width:340px;
  height:50px;
  position:static;
  font-size:20px;
  text-shadow:none;
}
#resetpassform input#wp-submit{
  background-position:10px 50%;
}

#pass-strength-result.strong{
  background-color: #54ca90;
}
.wp-core-ui .button.button-large{
  height:20px;
}
/* end login */


@media screen and (max-width:768px) {

	header .sinscrire a,
	header .utilisateur-connecte a,
	header .utilisateur-connecte a:hover {
		font-size:12px;
	}

}

@media screen and (max-width:600px) {

	footer {
		padding: 20px 0;
		margin: 0;
	}

	footer .footer-column {
		margin-left:3%;
	}

	#wpadminbar {
		position: fixed;
	}
}